<div class="background-concrete gutter-bottom-large gutter-top-large clearfix">
  <div class="content-band even" data-equalizer="col" data-equalize-on="large">
    <div class="row column gutter-bottom"  data-equalizer="row1"  data-equalize-on="medium">
      <h2 class="gutter-bottom">Multifamily News</h3>
      <div class="row gutter-bottom"  data-equalizer="row2"data-equalize-on="medium">
        <div class="column medium-6 large-4" data-equalizer-watch="col">
          <div class="callout background-white shadow"  data-equalizer-watch="row1">
            <h3 class="weight-normal">Viewpoints</h3>
            <ul class="flex-up no-bullet list-divided-white">
              <li><a class="weight-medium" href="#">Preserving a Pocket of Hope</a>
              <div class="article-date-lg weight-light">March 1, 2017 – by Lauren Garren</div></li>
              <li><a class="weight-medium" href="#">Meeting the Seniors Housing Market Needs</a>
              <div class="article-date-lg weight-light">February 8, 2017 – by Steve Schmidt</div></li>
              <li><a class="weight-medium" href="#">Will 2017 Be Another Growth Year?</a>
              <div class="article-date-lg weight-light">January 31, 2017 – by Steve Guggenmos</div></li>
              <li><p class="uppercase reduce"><a class="icon-chevron-right" href="/multifamily/viewpoints/">Our Viewpoints</a></p></li>          
            </ul>
          </div> 
          <div class="callout background-white no-margin-bottom"  data-equalizer-watch="row2">
            <h3 class="weight-normal">News Releases</h3>
            <ul class="flex-up no-bullet list-divided-white recent-headline-home">                
              <li><p class="uppercase reduce"><a class="icon-chevron-right" href="http://freddiemac.mwnewsroom.com/?category=Multifamily">Multifamily News Releases</a></p></li>
            </ul>
          </div>
        </div>
        <div class="column medium-6 large-4"  data-equalizer-watch="col">
          <div class="gutter-bottom hide-for-medium"></div>
          <div class="callout background-white shadow" data-equalizer-watch="row1">
            <h3 class="weight-normal">Research</h3>
            <ul class="flex-up no-bullet list-divided-white">
              <li><a class="weight-medium" href="#">Steve and Aaron Explore Rental Housing Affordability</a>
              <div class="article-date-lg weight-light">July 28, 2017</div></li> 
              <li><a class="weight-medium" href="#">2017 Multifamily Mid-year Outlook</a>
              <div class="article-date-lg weight-light">July 26, 2017</div></li>
              <li><a class="weight-medium" href="#">Steve and Aaron Cover the Multifamily Market: What’s Hot and What’s Not</a>
              <div class="article-date-lg weight-light">June 6, 2017</div></li>
              <li><p class="uppercase reduce"><a class="icon-chevron-right" href="/multifamily/research/">All Research</a></p></li>          
            </ul>
          </div>

          <div class="callout background-white shadow no-margin-bottom"  data-equalizer-watch="row2">
            <h3 class="weight-normal">Customer News</h3>
            <ul class="flex-up no-bullet list-divided-white">
              <li><a class="weight-medium" href="#">Going Green Is a No Brainer</a>
              <div class="article-date-lg weight-light">April 14, 2017</div></li>
              <li><a class="weight-medium" href="#">Brickman and Cannon Named in 50 Most Important Figures List</a>
              <div class="article-date-lg weight-light">April 12, 2017</div></li>
              <li><p class="uppercase reduce"><a class="icon-chevron-right" href="/multifamily/news/customer-news.html">Customer News</a></p></li>          
            </ul>            
          </div>
        </div>
        <div class="column large-4">
          <div class="gutter-bottom hide-for-large"></div>
          <div class="background-white  shadow callout no-margin-bottom" data-equalizer-watch="col">
            <h3 class="weight-normal gutter-bottom">Events &amp; Education</h3> 
            <ul class="no-bullet list-divided mosaic-icons">
              <li class="media-object">
                <div class="media-object-section">  
                  <p><svg class="icon-calendar" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 560"><rect x="119" width="48" height="139" rx="12.97" ry="12.97"/><rect x="382" width="48" height="139" rx="12.97" ry="12.97"/><rect x="178" y="62" width="192" height="42"/><path d="M467.86,62H441v42.77c30,3.86,53,29.73,53,61.14V262H46V165.9c0-34.07,27.22-61.9,61.29-61.9H108V62H72.14C32.07,62,0,94.67,0,134.73V487.46A72.2,72.2,0,0,0,72.14,560H467.86A72.2,72.2,0,0,0,540,487.46V134.73C540,94.67,507.93,62,467.86,62Z" transform="translate(0 0)"/><text class="text1" x="270" y="245">Sept</text><text class="text2" x="270" y="465">25</text></svg></p>
                </div>
                <div class="media-object-section main-section">
                  <h3 class="sidebar-headline">NMHC Student Housing Conference & Expo</h3>
                  <p class="article-date-lg weight-light">September 25, 2017<br>Tampa, FL</p>
                  <p class="weight-normal"><a class="icon-chevron-right" href="#" aria-label="NMHC Student Housing Conference">Event Details</a></p>
                </div>
              </li>
              <li class="media-object">
                <div class="media-object-section">  
                  <p><svg class="icon-calendar" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 560"><rect x="119" width="48" height="139" rx="12.97" ry="12.97"/><rect x="382" width="48" height="139" rx="12.97" ry="12.97"/><rect x="178" y="62" width="192" height="42"/><path d="M467.86,62H441v42.77c30,3.86,53,29.73,53,61.14V262H46V165.9c0-34.07,27.22-61.9,61.29-61.9H108V62H72.14C32.07,62,0,94.67,0,134.73V487.46A72.2,72.2,0,0,0,72.14,560H467.86A72.2,72.2,0,0,0,540,487.46V134.73C540,94.67,507.93,62,467.86,62Z" transform="translate(0 0)"/><text class="text1" x="270" y="245">Oct</text><text class="text2" x="270" y="465">16-18</text></svg></p>
                </div>
                <div class="media-object-section main-section">
                  <h3 class="sidebar-headline">2017 Customer Conference</h3>
                  <p class="article-date-lg weight-light">October 16-18, 2017<br>Phoenix, AZ</p>
                  <p class="weight-normal"><a class="icon-chevron-right" href="#" aria-label="2017 Customer Conference">Event Details</a></p>
                </div>
              </li>
              <li class="media-object">
                <div class="media-object-section">  
                  <p><svg class="icon-calendar" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 560"><rect x="119" width="48" height="139" rx="12.97" ry="12.97"/><rect x="382" width="48" height="139" rx="12.97" ry="12.97"/><rect x="178" y="62" width="192" height="42"/><path d="M467.86,62H441v42.77c30,3.86,53,29.73,53,61.14V262H46V165.9c0-34.07,27.22-61.9,61.29-61.9H108V62H72.14C32.07,62,0,94.67,0,134.73V487.46A72.2,72.2,0,0,0,72.14,560H467.86A72.2,72.2,0,0,0,540,487.46V134.73C540,94.67,507.93,62,467.86,62Z" transform="translate(0 0)"/><text class="text1" x="270" y="245">Oct</text><text class="text2" x="270" y="465">14</text></svg></p>
                </div>
                <div class="media-object-section  main-section">
                  <h3 class="sidebar-headline">NCSHA Annual Conference</h3>
                  <p class="article-date-lg weight-light">October 14, 2017<br>Denver, CO</p>
                </div>
              </li>
              <li class="flex-up"><a href="/multifamily/events/" class="reduce uppercase icon-chevron-right">View More Events</a></li>
            </ul>         
          </div>
        </div>
      </div>
    </div>
    <div class="row gutter-top gutter-bottom" data-equalizer>
      <div class="column large-6">
        <div class="callout small border-white background-concrete text-center shadow" data-equalizer-watch>
          <div class="svg-wrapper-round-primary">
            <svg width="38px" height="38px" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.25 24.25"><g stroke="#FFF" fill="none" stroke-width="1.25px" stroke-linejoin="round" stroke-linecap="round"><path class="cls-1" d="M19.5,8.8l4,2.8V22A1.54,1.54,0,0,1,22,23.5H2A1.54,1.54,0,0,1,.5,22V11.5l4-2.8" transform="translate(0.13 0.13)"/><polyline class="cls-1" points="3.63 20.63 8.63 16.63 15.63 16.63 20.63 20.63"/><line class="cls-1" x1="23.63" y1="11.63" x2="17.63" y2="15.63"/><line class="cls-1" x1="0.63" y1="11.63" x2="6.63" y2="15.63"/><polyline class="cls-1" points="19.63 14.32 19.63 0.63 4.63 0.63 4.63 14.32"/><circle class="cls-1" cx="12.13" cy="8.13" r="1.8"/><path class="cls-1" d="M14.5,11.7a4.38,4.38,0,0,1-2.5.8A4.5,4.5,0,1,1,16.5,8v.4a1.4,1.4,0,0,1-2.8,0V8" transform="translate(0.13 0.13)"/></g></svg>
          </div>
          <div class="callout text-center">
            <div class="gutter-left-xlarge gutter-right-xlarge">
              <h4 class="uppercase accent-gray">Get Notified. Subscribe Now!</h4>
              <p class="flex-up">Get Multifamily news updates delivered to your inbox. <br class="show-for-medium">Don’t worry, we won’t spam you. </p>
              <form class="form" action="#" style="max-width: 540px; margin: 0 auto;">
                <div class="row">
                  <div class="column medium-8 large-7 xlarge-8 gutter-bottom">
                    <input aria-label="Email Address" id="emailxx" class="no-margin" type="email" placeholder="name@company.com">
                  </div>
                  <div class="column medium-4 large-5 xlarge-4 gutter-bottom">
                    <button class="button tertiary no-margin block show-for-medium" type="submit">Subscribe</button>
                    <button class="button tertiary no-margin hide-for-medium" type="submit">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <p class="gutter-top hide-for-large"></p>
      </div>
      <div class="column large-6">
        <div class="callout small border-white background-concrete text-center  shadow" data-equalizer-watch>
          <div class="svg-wrapper-round-primary">
            <svg width="46px" height="46px" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><g fill="none" stroke="#FFF" stroke-width="1.25px" stroke-linejoin="round" stroke-linecap="round" transform="translate(0.13)"><path d="M2.5,17.5a2,2,0,0,1,0-4"/><path d="M6.5,20.5h-2a2,2,0,0,1-2-2v-6a2,2,0,0,1,2-2h2Z"/><path d="M21.5,17.5a2,2,0,0,0,0-4"/><path d="M17.5,20.5h2a2,2,0,0,0,2-2v-6a2,2,0,0,0-2-2h-2Z"/><path d="M5,10.5a7,7,0,0,1,14,0"/></g></path></svg>
          </div>
          <div class="callout text-center">
            <div class="gutter-left-xlarge gutter-right-xlarge">
              <h4 class="uppercase accent-gray">Multifamily Podcast</h4>
              <p class="flex-up">Freddie Mac leadership discussing the latest trends <br class="show-for-medium">in Multifamily Lending.</p>
              <div class="text-center">
                <a class="button tertiary" type="submit">Listen Now <svg aria-hidden="true" class="large svg-stroke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24.15"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.3px;}</style></defs><path class="cls-1" d="M6.5,13.4a6.74,6.74,0,0,1-1-3.4,6.5,6.5,0,0,1,13,0,6.82,6.82,0,0,1-1,3.5" transform="translate(0 0.15)"/><path class="cls-1" d="M5,16.4A9.17,9.17,0,0,1,2.5,10,9.56,9.56,0,0,1,12,.5,9.56,9.56,0,0,1,21.5,10,9.17,9.17,0,0,1,19,16.4" transform="translate(0 0.15)"/><path class="cls-1" d="M15.3,15.7a1.94,1.94,0,0,0-.5-1.6,2.13,2.13,0,0,0-1.5-.7H10.8a1.8,1.8,0,0,0-1.5.7,1.84,1.84,0,0,0-.5,1.6l.6,5a2,2,0,0,0,2,1.8h1.4a2,2,0,0,0,2-1.8Z" transform="translate(0 0.15)"/><circle class="cls-1" cx="12" cy="9.15" r="2.5"/></svg></a>
                <span class="gutter-left show-for-medium"></span><a class="button" type="submit">Download <svg aria-hidden="true" class="large svg-stroke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24.5"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><line class="cls-1" x1="11.5" y1="0.75" x2="11.5" y2="17.35"/><polyline class="cls-1" points="15.5 12.35 11.5 17.35 7.5 12.35"/><polyline class="cls-1" points="9 7.75 3.5 7.75 3.5 23.75 19.5 23.75 19.5 7.75 14 7.75"/></svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>