<div class="content-band even">
  <div class="row column gutter-top gutter-bottom">
    <div class="row" data-equalizer data-equalize-on="small" data-equalize-on-stack="true">
      <div class="column xlarge-5 large-5">
        <h2 class="weight-medium gutter-bottom">Green Advantage</h2>
        <div class="gutter-right-xlarge" data-equalizer-watch>
          <img class="full" alt="green advantage" src="http://extcstage.fhlmc.com:9200/multifamily/images/img_greenadvantage.jpg">
        </div>
        <h5 class="gutter-top">Better Pricing. Larger Proceeds. Energy Savings.</h5>
        <p class="flex-up gutter-right-large">Our Green Advantage initiative rewards borrowers who improve their properties to save energy or water.</p>
        <p><a class="button tertiary" href="/multifamily/product/green-advantage.html">Go Green!</a></p>
      </div>
      <div class="column xlarge-6 xlarge-offset-1 large-7">
        <h2 class="weight-medium gutter-bottom">New Business Activity</h2>
        <div class="row">
          <div class="column medium-4">
            <div class="callout no-margin background-teal text-center divider-flex" data-equalizer-watch>
              <h3 class="gutter-top gutter-bottom article-headline"><span class="stat-med">739,000</span><br>residential units&nbsp;</h3>
            </div>
          </div>
          <div class="column medium-4">
            <div class="callout no-margin background-blue text-center divider-flex" data-equalizer-watch>
              <h3 class="gutter-top gutter-bottom article-headline"><span class="stat-med">$47.3</span><br>billion K-Deal securities</h3>
            </div>
          </div>
          <div class="column medium-4">
            <div class="callout no-margin background-purple text-center divider-flex" data-equalizer-watch>
              <h3 class="gutter-top gutter-bottom article-headline"><span class="stat-med">87%</span><br>affordable housing</h3>
            </div>
          </div>
        </div>
        <h5 class="gutter-top">How is our business performing? </h5>
        <p class="flex-up">We had a very strong year as we continued to focus on our mission. Find results for key aspects of our business through the most recent quarter. </p>
        <p><a class="button secondary" href="/multifamily/about/our_results.html">Show Me</a></p>  
      </div>
    </div>
  </div>
</div>