<div class="background-primary landing-band vertical-gradient-dark-top">
  <div class="row-container-wide">
    <div class="row gutter-bottom-large">
      <div class="column large-4 gutter-bottom">
        <h3 class="text-flex-16-20 uppercase no-margin" style="opacity: .6;"><span class="enlarge">About Duty to Serve</span></h3>
        <hr />
        <p class="text-flex-16-20 weight-medium"><a class="block" href="https://www.fhfa.gov/PolicyProgramsResearch/PROGRAMS/Pages/Duty-to-Serve.aspx" rel="external">FHFA Duty to Serve Program Overview</a></p>
        <p class="text-flex-16-20 weight-medium"><a class="block" href="/about/duty-to-serve/docs/Freddie-Mac-Underserved-Markets-Plan.pdf">Freddie Mac Duty to Serve Plan</a></p>
        <p class="text-flex-16-20 weight-medium"><a class="block" href="/about/duty-to-serve/docs/Freddie-Mac-Underserved-Markets-Plan-Highlights.pdf">Freddie Mac Duty to Serve Plan Summary</a></p>
        <p class="text-flex-16-20">Questions? Call 1-800-FREDDIE, Option 2</p>
        <div class="gutter-bottom hide-for-large"></div>
      </div>
      <div class="column large-4 gutter-bottom">
        <h3 class="text-flex-16-20 uppercase no-margin" style="opacity: .6;"><span class="enlarge">From Our Leaders</span></h3>
        <hr />
        <p class="text-flex-16-20"><a class="block" href="/perspectives/brickman_and_lowman/20170523_underserved_markets.html"><span class="weight-medium">Helping Deserving but Underserved Markets</span> &ndash; David Brickman and Dave Lowman</a></p>
        <p class="text-flex-16-20"><a class="block" href="/perspectives/danny_gardner/20160919_saving_resources.html"><span class="weight-medium">Saving Your Resources and the Earth's</span> &ndash; Danny Gardner</a></p>
        <p class="text-flex-16-20"><a class="block" href="/perspectives/david_leopold/20161003_rental_green_advantage.html"><span class="weight-medium">Rental Housing Needs a Green Advantage</span> &ndash; David Leopold</a></p>
        <div class="gutter-bottom hide-for-large"></div>
      </div>
      <div class="column large-4 gutter-bottom">
        <h3 class="text-flex-16-20 uppercase no-margin" style="opacity: .6;"><span class="enlarge">Committed to Our Mission</span></h3>
        <hr />
        <p class="text-flex-16-20"><a class="block" href="/better-housing-finance/">Freddie Mac is <span class="weight-medium">Building a Better Housing Finance System</span></a></p>
        <p class="text-flex-16-20"><a class="block" href="/singlefamily/expmkts/affprod.html"><span class=" weight-medium">Affordable Lending</span> in Single-Family</a></p>
        <p class="text-flex-16-20"><a class="block" href="/multifamily/lenders/affordable.html"><span class="weight-medium">Innovation Everywhere</span> in Multifamily</a></p>
        <p class="text-flex-16-20 weight-medium"><a class="block" href="/about/business/affordable-housing.html">Affordable Housing</a></p>
      </div>
    </div>
  </div>
</div>