
<div class="reveal background-sapphire" id="eventsModalAH" data-reveal>
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2 id="Modal3-label">Single-Family Duty to Serve</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">Affordable Housing Preservation Events</h3>
              <p>Connect with us at these upcoming conferences</p>
            </div>
            <br class="reduce">
            <ul class="no-bullet list-divided">
              <li class="media-object">
                <div class="media-object-section">  
                  <p><svg class="icon-calendar fill-sapphire" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 560"><rect x="119" width="48" height="139" rx="12.97" ry="12.97"/><rect x="382" width="48" height="139" rx="12.97" ry="12.97"/><rect x="178" y="62" width="192" height="42"/><path d="M467.86,62H441v42.77c30,3.86,53,29.73,53,61.14V262H46V165.9c0-34.07,27.22-61.9,61.29-61.9H108V62H72.14C32.07,62,0,94.67,0,134.73V487.46A72.2,72.2,0,0,0,72.14,560H467.86A72.2,72.2,0,0,0,540,487.46V134.73C540,94.67,507.93,62,467.86,62Z"/><text class="text1" x="270" y="245">Aug</text><text class="text2" x="270" y="465">27-29</text></svg></p>
                </div>
                <div class="media-object-section main-section">
                  <h3 class="sidebar-headline">Florida Housing Coalition Affordable Housing Conference</h3>
                  <p class="article-date-lg weight-light">August 27-29, 2018<br>Orlando, Forida</p>
                  <p class="weight-normal"><a class="icon-chevron-right" href="http://flhousingconference.org/" aria-label="Florida Housing Coalition Affordable Housing Conference Details">Event Details</a></p>
                </div>
              </li>
              <li class="media-object">
                <div class="media-object-section">  
                  <p><svg class="icon-calendar fill-sapphire" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 560"><rect x="119" width="48" height="139" rx="12.97" ry="12.97"/><rect x="382" width="48" height="139" rx="12.97" ry="12.97"/><rect x="178" y="62" width="192" height="42"/><path d="M467.86,62H441v42.77c30,3.86,53,29.73,53,61.14V262H46V165.9c0-34.07,27.22-61.9,61.29-61.9H108V62H72.14C32.07,62,0,94.67,0,134.73V487.46A72.2,72.2,0,0,0,72.14,560H467.86A72.2,72.2,0,0,0,540,487.46V134.73C540,94.67,507.93,62,467.86,62Z"/><text class="text1" x="270" y="245">Sep</text><text class="text2" x="270" y="465">23-26</text></svg></p>
                </div>
                <div class="media-object-section main-section">
                  <h3 class="sidebar-headline">National Association of State Energy Officials (NASEO)</h3>
                  <p class="article-date-lg weight-light">September 23-26, 2018<br>Detroit, Michigan</p>
                  <p class="weight-normal"><a class="icon-chevron-right" href="http://www.naseo.org/event?EventID=3951" aria-label="National Association of State Energy Officials (NASEO)">Event Details</a></p>
                </div>
              </li>  
              <li class="media-object">
                <div class="media-object-section">  
                  <p><svg class="icon-calendar fill-sapphire" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 560"><rect x="119" width="48" height="139" rx="12.97" ry="12.97"/><rect x="382" width="48" height="139" rx="12.97" ry="12.97"/><rect x="178" y="62" width="192" height="42"/><path d="M467.86,62H441v42.77c30,3.86,53,29.73,53,61.14V262H46V165.9c0-34.07,27.22-61.9,61.29-61.9H108V62H72.14C32.07,62,0,94.67,0,134.73V487.46A72.2,72.2,0,0,0,72.14,560H467.86A72.2,72.2,0,0,0,540,487.46V134.73C540,94.67,507.93,62,467.86,62Z"/><text class="text1" x="270" y="245">Oct</text><text class="text2" x="270" y="465">1-4</text></svg></p>
                </div>
                <div class="media-object-section main-section">
                  <h3 class="sidebar-headline">Grounded Solutions Network Intersections</h3>
                  <p class="article-date-lg weight-light">October 1-4, 2018<br>Pittsburgh, Pennsylvania</p>
                  <p class="weight-normal"><a class="icon-chevron-right" href="https://groundedsolutionsnetwork.swoogo.com/intersections2018" aria-label="Grounded Solutions Network Intersections Details">Event Details</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
