<footer class="footer row-wrapper landing-footer hide-for-print">
  <div class="row">
    <div class="column">
      <div class="row collapse xlarge-uncollapse">
        <div class="column large-4 xlarge-5">
          <ul class="no-bullet text-center large-text-left gutter-top-large">
            <li><a href="/terms/">Terms of Use</a></li>
            <li><a href="/terms/privacy.html">Privacy Policy</a></li>
            <li style="float: none;"><a href="/about/contact-us.html">Contact Us</a></li>
          </ul>      
        </div>
        <div class="column large-4 xlarge-2 text-center">
          <div class="landing-logo-footer"><img alt="Freddie Mac logo" src="/images/fm_logo_reverse.svg" class="no-border"></div>
        </div>
        <div class="column large-4 xlarge-5">
          <ul class="no-bullet text-center large-text-right gutter-top-large">        
            <li>&copy; {{year}} Freddie Mac</li>
          </ul>      
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom-edge"> </div>
