<div class="background-primary landing-band vertical-gradient-dark-top">
  <div class="row-wrapper">
    <div class="row text-center">
      <div class="column">
        <h3 class="text-flex-18-24 uppercase no-margin" style="opacity: .6;">Connecting the Ecosystem to Expand Access to Homeownership</h3>
        <hr />
      </div>
    </div>
    <div class="row large-up-3 gutter-bottom-large">
      <div class="column">
        <ul class="no-bullet no-margin text-flex-16-20 weight-medium">        
        <li><a class="block" href="/singlefamily/housingpros/help_centers.html">Borrower Help Centers</a></li>
        <li><a class="block" href="http://myhome.freddiemac.com/" rel="external">My Home by Freddie Mac®</a></li>
        <li><a class="block" href="/creditsmart/">CreditSmart®</a></li>
        </ul>
      </div>
      <div class="column">
        <ul class="no-bullet no-margin text-flex-16-20 weight-medium">
        <li><a class="block" href="/realestatepros/">Real Estate Professional Resource Center</a></li>
        <li><a class="block" href="/singlefamily/community_lenders/">Community Lending Resource Center</a></li>
        <li><a class="block" href="/singlefamily/housingpros/housing_counselors_resource_center.html">Housing Counselor Resource Center</a></li>
        </ul>
      </div>      
      <div class="column">
        <ul class="no-bullet no-margin text-flex-16-20 weight-medium">    
        <li><a class="block" href="/singlefamily/mortgages/#ldp">Low Down Payment Solutions</a></li>
        <li><a class="block" href="https://view.ceros.com/freddie-mac/loanbeam/p/1" rel="external">LoanBeam</a></li>
        <li><a class="block" href="/singlefamily/sell/e_mortgages.html">eMortgages</a></li>
        <li><a class="block" href="/about/duty-to-serve/">Duty to Serve</a></li>
        </ul>
      </div>
    </div>
    <div class="gutter-bottom"></div>
  </div>
</div>

