    
<div class="row"> 
  <div class="large-10 large-centered xlarge-12 column">
    <div class="row xlarge-up-2">
      <div class="column">
        <div class="card feature-block">
          <a class="overlay overlay-gradient block" href="/perspectives/perspectives-detail.html">
            <img src="/perspectives/images/gilmore-lg.jpg" alt="Yvette Gilmore"/>
            <div class="overlay-contents">
              <div class="article-date-feature">August 22, 2016</div>
              <h3 class="feature-subtitle">The New Normal: Servicing in a Post-Crisis World</h3>
              <p class="article-blurb-lg">In the years since the crisis we’ve made important strides in making the servicing industry stronger, more efficient and better able to help struggling borrowers. Today servicers have broadly delegated authority...</p>
              <div class="article-byline"><strong class="uppercase">Yvette Gilmore</strong><br><span class="reduce">VP Single-Family Servicer Performance Management</span></div>
            </div>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="card feature-block">
          <a class="overlay overlay-gradient block" href="/perspectives/perspectives-detail-multiples.html">
            <img alt="Higginbotham and Doyle" src="/perspectives/images/EP_Higginbotham_Boyle-feature.jpg">
            <div class="overlay-contents">
              <div class="article-date-feature">April 11, 2016</div>
              <h3 class="subtitle">What Makes Freddie Mac Loan Advisor Suite Different?</h3>
              <p class="article-blurb-lg">Freddie Mac recently announced Loan Closing Advisor, Loan Product Advisor and Business Intelligence &ndash; tools and functionality that will go live this summer with Loan Advisor Suite.</p>
              <div class="article-byline"><strong class="uppercase">Andy Higginbotham</strong><br>
              <span class="reduce">SVP and Head of Single-Family Strategic Delivery</span><br>
              <strong class="uppercase">Chris Boyle</strong><br>
              <span class="reduce">SVP Single-Family Sales & Relationship Management</span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>