<!--ROW OF EVENT BOXES-->

<div class="row large-up-3" data-equalize-on="small" data-equalizer>   
<!--FIRST BOX-->
  <div class="column">
    <div class="card border-thick" data-equalizer-watch>              
      <a class="overlay block" href="#"><img alt="description of the photo" src="/corporate/homepage/images/dts_ribbon_cutting.jpg"></a>
      <div class="card-section text-center">
        <h3 class="sidebar-subtitle"><a href="#"><span class="accent-sapphire">Event Title Lorem Sed Magna</span></a></h3>
        <p class="gutter-bottom no-margin">Maecenas eget metus lectus. In sed est risus. Vivamus vulputate dui id nibh sollicitudin luctus. Cras eget pulvinar ex vulputate dui id nibh luctus.</p>
        <p class="text-static-16-18">Monday July 1, 2018</p>
        <p class="text-static-16-18">Chicago, IL</p>
        <a href="#" class="button medium secondary">Detail
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </div>
    </div>
  </div> 
  <!--END FIRST BOX-->
  
  <!--SECOND BOX-->
  <div class="column">
    <div class="card border-thick" data-equalizer-watch>              
      <a class="overlay block" href="#"><img alt="description of the photo" src="/corporate/homepage/images/dts_ribbon_cutting.jpg"></a>
      <div class="card-section text-center">
        <h3 class="sidebar-subtitle"><a href="#"><span class="accent-sapphire">Event Title Lorem Sed Magna</span></a></h3>
        <p class="gutter-bottom no-margin">Maecenas eget metus lectus. In sed est risus. Vivamus vulputate dui id nibh sollicitudin luctus. Cras eget pulvinar ex vulputate dui id nibh luctus.</p>
        <p class="text-static-16-18">Monday July 1, 2018</p>
        <p class="text-static-16-18">Chicago, IL</p>
        <a href="#" class="button medium secondary">RSVP
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </div>
    </div>
  </div> 
  <!--END SECOND BOX-->
      
  <!--THIRD BOX-->
  <div class="column">
    <div class="card border-thick" data-equalizer-watch>              
      <a class="overlay block" href="#"><img alt="description of the photo" src="/corporate/homepage/images/dts_ribbon_cutting.jpg"></a>
      <div class="card-section text-center">
        <h3 class="sidebar-subtitle"><a href="#"><span class="accent-sapphire">Event Title Lorem Sed Magna</span></a></h3>
        <p class="gutter-bottom no-margin">Maecenas eget metus lectus. In sed est risus. Vivamus vulputate dui id nibh sollicitudin luctus. Cras eget pulvinar ex vulputate dui id nibh luctus.</p>
        <p class="text-static-16-18">Monday July 1, 2018</p>
        <p class="text-static-16-18">Chicago, IL</p>
        <a href="#" class="button medium secondary">Register
        <svg aria-hidden="true" class="fill-anchor" xmlns="http://www.w3.org/2000/svg" viewBox="20 0 180 180">
          <path d="M121.4 90L58.2 26.3c-1.6-1.6-1.5-4.2.1-5.8L69.5 9.3c1.6-1.6 4.3-1.6 5.9-.1l77.2 77.9c.8.8 1.2 1.9 1.1 3 0 1.1-.3 2.2-1.1 3l-77.2 77.8c-1.6 1.6-4.2 1.5-5.9-.1l-11.3-11.2c-1.6-1.6-1.7-4.2-.1-5.8L121.4 90z"/>
        </svg></a>
      </div>
    </div>
  </div> 
  <!--END THIRD BOX-->       
</div> 
