<!--FIRST BOX-->
<div class="column">
  <div class="card border-thick primary">
    <div class="background-sapphire callout small no-margin weight-medium text-static-16-18"><svg aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="#00a6e1" stroke-width="3" d="M12 22l10-10L12 2M2 22l10-10L2 2"/></svg>
      News Source
    </div>
    <div class="callout small-to-default background-white" data-equalizer-watch>
      <p class="weight-normal">Maecenas eget metus lectus. In sed est risus. Vivamus vulputate dui id nibh sollicitudin luctus. Cras eget pulvinar ex vulputate dui id nibh luctus. Cras eget pulvinar exvulputate dui id.</p>
      <p class="gutter-top">&nbsp;<a style="position: absolute; bottom: 0.8125rem;" href="#">More</a></p>
    </div>
  </div>
</div> 
<!--END FIRST BOX-->

<!--SECOND BOX-->
<div class="column">
  <div class="card border-thick primary">
    <div class="background-sapphire callout small no-margin weight-medium text-static-16-18"><svg aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="#00a6e1" stroke-width="3" d="M12 22l10-10L12 2M2 22l10-10L2 2"/></svg>
      News Source
    </div>
    <div class="callout small-to-default background-white" data-equalizer-watch>
      <p class="weight-normal gutter-bottom">Cras eget pulvinar ex vulputate dui id nibh luctus. Cras eget pulvinar exvulputate dui id.</p>
      <p class="gutter-top">&nbsp;<a style="position: absolute; bottom: 0.8125rem;" href="#">More</a></p>
    </div>
  </div>
</div> 
<!--END SECOND BOX-->
    
<!--THIRD BOX-->
<div class="column">
  <div class="card border-thick primary">
    <div class="background-sapphire callout small no-margin weight-medium text-static-16-18"><svg aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="#00a6e1" stroke-width="3" d="M12 22l10-10L12 2M2 22l10-10L2 2"/></svg>
      News Source
    </div>
    <div class="callout small-to-default background-white" data-equalizer-watch>
      <p class="weight-normal">Maecenas eget metus lectus. Cras eget pulvinar ex vulputate dui id nibh luctus. Cras eget pulvinar exvulputate dui id.</p>
      <p class="gutter-top">&nbsp;<a style="position: absolute; bottom: 0.8125rem;" href="#">More</a></p>
    </div>
  </div>
</div> 
<!--END THIRD BOX-->
    
<!--FOURTH BOX-->
<div class="column">
  <div class="card border-thick primary">
    <div class="background-sapphire callout small no-margin weight-medium text-static-16-18"><svg aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="#00a6e1" stroke-width="3" d="M12 22l10-10L12 2M2 22l10-10L2 2"/></svg>
      News Source
    </div>
    <div class="callout small-to-default background-white" data-equalizer-watch>
      <p class="weight-normal">Maecenas eget metus lectus. In sed est risus. Vivamus vulputate dui id nibh sollicitudin luctus. Cras eget pulvinar ex vulputate dui id nibh luctus. Cras eget pulvinar exvulputate dui id.</p>
      <p class="gutter-top">&nbsp;<a style="position: absolute; bottom: 0.8125rem;" href="#">More</a></p>
    </div>
  </div>
</div> 
<!--END FOURTH BOX-->