
<!-- ONLY first panel gets active class and aria-selected attribute -->
<div class="leader-panel-item is-active"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-1" aria-selected="true"><img alt="Chris Boyle" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Chris</p>
</div>
<!-- ALL other panels -- changes to active/selected state will be triggered by javascript  -->
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-2"><img alt="Jodi Morton" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Jodi</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-3"><img alt="Donna Corley" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Donna</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-4"><img alt="Yvette Gilmore" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Yvette</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-5"><img alt="Terri Merlino" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Terri</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-6"><img alt="Kunkun Callaghan" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Kunkun</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-7"><img alt="Gina Healy" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Gina</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-8"><img alt="Riham El-Lakany" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Riham</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-9"><img alt="Jacqueline Welch" class="border-white shadow-southeast" src="/leadingtheway/images/welch.jpg"></a>
  <p>Jacqueline</p> 
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-10"><img alt="David Lowman" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>David</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-11"><img alt="Kevin Palmer" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Kevin</p>
</div>
<div class="leader-panel-item"> 
  <a class="block background-primary no-tap-hightlight" href="#leader-panel-12"><img alt="Danny Gardner" class="border-white shadow-southeast" src="/leadingtheway/images/placeholder.jpg"></a>
  <p>Danny</p>
</div>