<div class="row gutter-bottom-large">
  <div class="column medium-6 large-4">
    <ul class="no-bullet no-margin gutter-right-large weight-normal">        
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 1</a></h4>
        <p class="reduce">Nullam non lorem sed magna accumsan consequat. Nam sit amet nisi at ligula porta vestibulum ut id lacus.</p>
      </li>       
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 2</a></h4>
        <p class="reduce">Nullam non lorem sed magna accumsan consequat. Nam sit amet nisi at ligula porta vestibulum ut id lacus.</p>
      </li>              
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 3</a></h4>
        <p class="reduce">Nullam non lorem sed magna accumsan consequat. Nam sit amet nisi at ligula porta vestibulum ut id lacus.</p>
      </li> 
      <!-- duplicate first half of what is in column 2 to show at below large breakpoint when we only want 2 columns (also 1 col at small)  -->  
      <li class="hide-for-large">
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 4</a></h4>
        <p class="reduce">Nam sit amet nisi at ligula porta vestibulum ut id lacus. Nullam non lorem sed magna accumsan consequat.</p>
      </li>       
      <li class="hide-for-large">
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 5</a></h4>
        <p class="reduce">Nam sit amet nisi at ligula porta vestibulum ut id lacus. Nullam non lorem sed magna accumsan consequat.</p>
      </li>       
    </ul>
  </div>
  <div class="column large-4 show-for-large">
    <!-- note -- this column only shows at large and up, so everty resource in this column *must* be duplicated into the other columns to display at smaller breakpoints  --> 
    <ul class="no-bullet no-margin gutter-right-large weight-normal">        
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 4</a></h4>
        <p class="reduce">Nam sit amet nisi at ligula porta vestibulum ut id lacus. Nullam non lorem sed magna accumsan consequat.</p>
      </li>       
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 5</a></h4>
        <p class="reduce">Nam sit amet nisi at ligula porta vestibulum ut id lacus. Nullam non lorem sed magna accumsan consequat.</p>
      </li>              
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 6</a></h4>
        <p class="reduce">Nam sit amet nisi at ligula porta vestibulum ut id lacus. Nullam non lorem sed magna accumsan consequat.</p>
      </li>      
    </ul>
  </div>      
  <div class="column medium-6 large-4">
    <ul class="no-bullet no-margin gutter-right-large weight-normal">          
      <!-- duplicate last half of what is in column 3 to show at below large breakpoint when we only want 2 columns (also 1 col at small)  -->  
      <li class="hide-for-large">
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 6</a></h4>
        <p class="reduce">Nam sit amet nisi at ligula porta vestibulum ut id lacus. Nullam non lorem sed magna accumsan consequat.</p>
      </li>   
      <!-- end of duplicated content -->
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 7</a></h4>
        <p class="reduce">Nullam non lorem sed magna accumsan consequat. Nam sit amet nisi at ligula porta vestibulum ut id lacus.</p>
      </li>       
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 8</a></h4>
        <p class="reduce">Nullam non lorem sed magna accumsan consequat. Nam sit amet nisi at ligula porta vestibulum ut id lacus.</p>
      </li>              
      <li>
        <h4 class="text-flex-16-20 no-margin"><a class="block" href="#">Resource Title 9</a></h4>
        <p class="reduce">Nullam non lorem sed magna accumsan consequat. Nam sit amet nisi at ligula porta vestibulum ut id lacus.</p>
      </li>       
    </ul>
  </div>
</div>