<div class="reveal full background-sapphire" id="DefineLTWmodal" data-reveal aria-labelledby="LTWmodalLabel">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-11 xlarge-centered">
        <div class="gutter-left-large gutter-right-large">
          <div class="modal-header text-center">
            <h2 class="no-margin" id="LTWmodalLabel">#LeadingTheWay<div class="text-flex-18-24 weight-normal">Advancing Women in the Mortgage Industry</div></h2>
          </div>
          <div class="background-concrete callout large no-margin text-center">
            <h1 class="no-margin accent-green">What Is #LeadingTheWay</h1>
          </div>
          <div class=" callout xlarge background-white weight-normal">
            <p class="lead intro">Freddie Mac is #LeadingTheWay in the mortgage industry by advancing women to leadership positions and championing women’s rights in the workplace. Find out more about our commitment to advancing women and how we’re changing perceptions to create more opportunities for women leaders.</p>
            <p>Freddie Mac is proud to launch a new campaign called #LeadingTheWay, which focuses on advancing women in the housing industry.  </p>
            <p>At the center of Leading the Way are the women leaders of Freddie Mac. We have a strong focus on diversity and inclusion and our culture is dedicated to supporting the advancement of women in the finance industry. Read the profiles of 10 Freddie Mac women leaders who are making a huge difference to our business.</p>
            <p>The truth is that women leaders are instrumental to our success across all divisions at Freddie Mac, from technology to operations to business development to sales, marketing and relationship management, and more.</p>
            <p>In addition to job opportunities at every level and in every discipline, we offer many benefits that appeal to women. These include flexible work arrangements and many ways to learn and connect through training, resource groups and networking – some of the reasons Freddie Mac is consistently ranked a best place to work and best in diversity. </p>
            <p>Freddie Mac emphasizes diversity in our employees not just because it’s the right thing to do; it’s smart business. Our focus on an inclusive workplace that values different perspectives makes us a stronger company, drives innovation and supports our efforts to make home possible for America’s families.  </p>
            <p>Join our campaign and learn more about how we can all help advance women in the workplace. Use #LeadingTheWay on social media posts about supporting women in the workplace and follow us <a href="https://twitter.com/freddiemac">@FreddieMac on Twitter</a>. </p>
            <h3>Freddie Mac Women Are Already Leading</h3>
            <p>Here are a few ways how:</p>
            <ul>
              <li>In 2017, <a rel="external" href="https://www.workingmother.com/best-companies-freddie-mac">Freddie Mac earned a spot on the Working Mother 100 Best Companies list and the NAFE Top Companies for Executive Women list</a>.</li>
              <li>Several of the women have been honored by Working Mother magazine as a Working Mother of the Year (Kelly Steele, Yvette Gilmore, Donna Corley) and named one of HousingWire’s Women of Influence (Chris Boyle in 2016, Donna Corley in 2017)</li>
              <li>Senior Vice President and Chief Client Officer Christina Boyle was named to <a rel="external" href="http://digital.themreport.com/h/i/117924947-women-in-housing-2015">MReport’s 2015 Power Player list</a>, recognizing pre-eminent women leaders in the industry for their achievements in housing</li>
              <li>Several of our female leaders are involved in the Freddie Mac Women's Interactive Network (WIN), which is a networking a mentoring group aimed at building a strong community of women at the company across all levels. </li>
            </ul> 
            <p class="text-center"><button class="secondary button small" type="button" data-close>Close</button></p> 
          </div>  
        </div>
      </div>
    </div> 
  </div>
</div>

