<div class="background-primary footer-promo">
  <div class="row" data-equalizer data-equalize-on="large">
    <div class="column large-8" data-equalizer-watch>
      <h3 class="callout-footer-title">Do we own your mortgage?</h3>
      <p>Find out if Freddie Mac owns your mortgage using our secure Loan Look-up tool.</p>
    </div>
    <div class="column large-offset-1 large-3 position-relative" data-equalizer-watch>
      <div class="footer-promo-cta">
       <a class="hollow large button" href="#">Look it up</a>
      </div>
    </div>
  </div>
</div>