/// styles for the accordion title when active/expanded
@mixin accordion-pointers-active($color: $accordion-item-color, $background: $accordion-content-background, $icon-color: $anchor-color) {
  background:$background;
  color: $color;
  &::before { 
    background-image: icon(chevron-up, $icon-color,  14px, 14px); 
  }
}
// the standard  non-active state of the item
@mixin accordion-pointers-title($color: $accordion-item-color, $background-hover: $accordion-item-background-hover, $transform: true) {
  position: relative;
  display: block;
  padding: $accordion-item-padding;
  font-size: $accordion-title-font-size;
  font-weight: $global-weight-medium;
  line-height: 1;
  color: $color;
  transition: background 0.2s ease;
  &:hover,
  &:focus {
    background-color: $background-hover;
    color: scale-color($color, $lightness: -10%);
  }
  @if $transform {  
    text-transform: uppercase;
  }  
  &::before {
    content: ' ';  
    background: transparent icon(chevron-down, $color, 14px, 14px) no-repeat right center;    
    transition: background 0.25s ease;
    width: 1rem;
    height: 1rem;
    margin-left: -0.15rem;
    position: absolute;
    top: 50%;
    #{$global-right}: 1rem;
    margin-top: -0.5rem;  
  } 
  &[aria-expanded="true"] {   
    @include accordion-pointers-active;
  }
}

/// Change +/- to up down carets item. 
@mixin accordion-pointers {  
  box-shadow: 0px 1px 4px 1px rgba($black, 0.1);
  margin-left: 0;
  background: $accordion-background;
  list-style-type: none;
  .accordion-title {
    @include accordion-pointers-title;
  }
  .accordion-item {
    margin: 0;    
    border-top: 1px solid $white; 
    border-bottom: 1px solid $white; 
    &.is-active {
       + .accordion-item.is-active {
        border-top-color: $accordion-background; 
        border-top-width: 2px;
      }
    }
    &:first-child {
      border-top-width: 0;
      &.is-active {
        border-top-color: $accordion-background; 
        border-top-width: 1px;
      }
    } 
    &:last-child {
      border-bottom-width: 0;
    }  
  }
  .accordion-content {    
    display: none;
    padding: $accordion-content-padding;
    background-color: $accordion-content-background;
    color: $accordion-content-color;
    ul:first-child {
      margin-top: 0;
      li:first-child {
        margin-top: 0;
      }
    }
  }
}

/// Drop +/- and carets 
@mixin accordion-faq {
  @include accordion-container($white);
  counter-reset: section;
  .accordion-title {
    @include accordion-title(0.5rem 0.5rem 0.5rem 2.5rem, rem-calc(18), $anchor-color, 0, lighten($light-gray, 2.5));
    line-height: inherit;
    &::before {
      counter-increment: section;
      content: counters(section, ".", decimal) ". ";
      display: inline-block;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }  
  .accordion-item {
      margin: 0;
    &.is-active {
      background: $light-gray;
      margin: 0 0 $gutter;
      .accordion-title {
        background: $light-gray;
      }
    }
  }
  :last-child:not(.is-active) > .accordion-title {
    border-bottom-width: 0;
  }
  .accordion-content {
    @include accordion-content(0.5rem $gutter 1rem 2.5rem, 0, transparent, $body-font-color); 
    @media screen and (max-width: 400px) {  //less than small
      padding: 0.5rem 0.8rem 1rem;
    } 
    :last-child {
      margin-bottom: 0;
    }    
   }
}

///styles for .accordion-pointer
.accordion-pointer {
  @include accordion-pointers;
}

.accordion-faq {
  @include accordion-faq;
}

// angle pointer instead of triangle for nav entries
.nav-accordion-parent {
  display: table-cell;
  position: relative;
  &[aria-expanded='true'] > a {
    color: $fm-orange;
    &::before {
      background: transparent icon(chevron-up, $fm-orange, 14, 14) no-repeat center center;
    }
  }
  > a {
    &:hover {
      @include nav-submenu-parent-hover();
    }
    &::before {
      content: ' ';      
      height: 0.75em;    
      width: 1em;      
      display: inline-block;
      position: relative;
      top: 0.05em;
      margin-right: 0.5rem;
      background: transparent icon(chevron-down, $fm-orange, 14, 14) no-repeat center center;
    }
  }
  .is-accordion-submenu-item {
    margin: 0;
  }
  .is-accordion-submenu-item > a {    
    color: $body-font-color;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
    &:hover,
    &:focus {
      background: $fm-yellow;
      color: $white;
    }
  }
}  