.breadcrumb-wrapper {
  background: $light-gray;
  line-height: 1.2;
  color: $fm-gray;
  border-top: 1px solid darken($light-gray, 9.8039);
  font-weight: $global-weight-normal;
  @include breakpoint(xlarge) {
    display: none;
  }
  ol {
    margin: rem-calc( 0 0 4px);
  }
  li { 
    display: inline; 
  }
  a {    
    position: relative;
    padding-right: 1.3rem;
    &::after {
      content: ' ';  
      background: transparent icon(chevron-right, "none", 12px, 12px, 0, 0, 32, 32, rgba($fm-gray, 0.5), 3) no-repeat center center;    
      position: absolute;
      right: 0;
      bottom: 0;
      width: 1em;
      height: 1em;
      margin-left: 0.4em;
      display: inline-block;
    }
  }
}