.breadcrumb-wrapper,
.iw_viewport-wrapper > div:nth-child(3) .row  {
  display: none;
}

.is-mobile-expanded {
  .iw_viewport-wrapper {
    > div:nth-child(n+4) { 
      @include breakpoint(large down){
        opacity: 0;
        max-height: 100vh;
        transition:  opacity 200ms linear 100ms, max-height 1000ms linear 50ms;
      }
    }
  } 
} 
#home-content-bands {
  overflow-x: hidden;
  @include breakpoint(large down) {
    opacity: 1;
    max-height: 9999vh;
    transition: opacity 300ms ease-out 50ms, max-height 100ms linear 50ms;
  }
  .is-mobile-expanded & {
    @include breakpoint(large down) {
      opacity: 0;
      max-height: 90vh;
      overflow: hidden;      
      transition:  opacity 200ms linear 100ms, max-height 1000ms linear 50ms;
    }
  }
}

.is-mobile-expanded {
  .row-wrapper,
  .finance-offset { 
    @include breakpoint(large down){
      opacity: 0;  
      transition: opacity 100ms linear 10ms;     
    }
  }
} 
