// changed from <footer> element to .footer class so that footers used inside other elements don't inherit these styles
.footer {
	background: darken($primary-color, 3%);
	color: $white;
	padding-top: rem-calc(8);
  padding-bottom: rem-calc(12);
	@include breakpoint(medium) {
    padding-top: rem-calc(35);
    padding-bottom: rem-calc(25);
	}	
	a {
		color: currentColor; 
    display: inline-block; 
    @include anchor-on-dark(none); 
    &.connect-link {
      margin-right: rem-calc(6);
      > svg {
        height: rem-calc(28);
        width: rem-calc(28);
      }
      &:last-child {
        margin-right: 0;         
      }  
    } 
  }  
	ul {
		margin: 0;
    @include clearfix;
  }
  li {
    margin: rem-calc(8 0);
    @include breakpoint(large) {
      display: inline-block;
      margin-right: rem-calc(32);      
      &:last-child {    
        float: right;
        margin-right: 0;
        text-align: right;
      }
    }
  }
  &.landing-footer li {
    @include breakpoint(medium) {
      display: inline-block;
    }   
    @include breakpoint(large only) {
      font-size: rem-calc(15);
    }
    &:not(:last-child) {
      @include breakpoint(medium) {
        margin-right: 2rem;
      }
      @include breakpoint(large only) {
        margin-right: 1.25rem;
      }
    } 
  }
	.footer-top {
		border-bottom: 1px solid lighten($primary-color, 3%); 
		ul {
      font-weight: $global-weight-medium;
      text-transform: uppercase;
		}
	}
}
.footer-bottom-edge {
  height: rem-calc(16);  
  background: $celery;
  @include mosaic-fill(); 
}
