.row {
  max-width: rem-calc(1380);
  margin-left: auto;
  margin-right: auto; 
  &.iw_stretch  {
    max-width: none;
    > .large-12 {
      @include grid-col-collapse; 
    }
  }
}

.row:not(.expanded) .row {
  max-width: rem-calc(1380);
}
.row:not(.expanded) {
  .page-title,
  .footer-promo,
  .pre-footer-promo,
  .hero-blended,
  .row-wrapper {  
    > .row { 
      @include constrained-row;      
    }
  }
  .nav-global {  
    > .row { 
      @include constrained-row; 
      @include breakpoint(large down) {
        padding-left: 0;
        padding-right: 0;
      }  
      > .column {
        @include breakpoint(large down) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }    
}
.iw_viewport-wrapper > div:nth-child(3) {
  // 1-col layout
  > .iw_container {
    @include breakpoint(large) {
      @include constrained-row;
    }
     > .large-12 {      
      @include breakpoint(medium down) {
        padding-left: rem-calc($gutter * 1.5);
        padding-right: rem-calc($gutter * 1.5);
      }
    } 
  }
  
  // 2 col layout
  > .iw_stretch > .large-12 > .iw_row {
    @include breakpoint(medium down) {
      margin-left: 0;
      margin-right: 0;
    }
    @include breakpoint(large) {
      @include constrained-row;
    }  
    > .iw_columns.large-7 {      
      @include breakpoint(medium down) {
        padding-left: rem-calc($gutter * 1.5);
        padding-right: rem-calc($gutter * 1.5);
      }
      .jut {
        @include breakpoint(large) { 
          width: 105%; 
        }
        @include breakpoint(xlarge) { 
          width: 112%; 
        } 
      } 
    }
    > .iw_columns.large-5 {    
      @include breakpoint(medium down) {
        padding: 0;  
        > :last-child {
          padding-bottom: 0;
        }
      }
      @include breakpoint(large) {
        padding-left: 5%;
      }
      @include breakpoint(xlarge) {
        padding-left: 9%;
      }
    }
  }
  > .iw_stretch > .large-12,
  > .iw_container > .large-12  {
    position: relative;
    > :first-child {
      padding-top: rem-calc(32);   // this value is needed in the adjustSidebar script
      @include breakpoint(xlarge) {
        padding-top: rem-calc(58);   // this value is needed in the adjustSidebar script
      }
    }
    > :last-child {
      padding-bottom: rem-calc(30); 
      @include breakpoint(large) {
        padding-bottom: rem-calc(64); 
      }
      @include breakpoint(xlarge) {
        padding-bottom: rem-calc(100); 
      }
    }
  }
}
.tertiary-nav {  
  .large-5 & { 
    @include breakpoint(large) {
      margin-top: rem-calc(-133);
    }
    @include breakpoint(xlarge) {
      margin-top: rem-calc(-133);
    }
  }
}
section {   
  .large-5 & {  
    margin: 0;
    padding: $gutter * 1.5;      
    @include breakpoint(large) {
      padding: $gutter;
    }  
    @include breakpoint(xlarge) {
      padding: $global-padding * 1.9 $global-padding * 2;
    }
  }
}
@media screen {
  .content-band {
    margin-top: 2rem;
    margin-bottom: $gutter * 1.5; 
    @include breakpoint(large) {
      margin-bottom: 4rem; 
    }
    @include breakpoint(xlarge) {
      margin-top: rem-calc(55);
      margin-bottom: rem-calc(100); 
    }
    &.even {
      margin: $gutter 0;    
      @include breakpoint(large) {
        margin: $gutter*2 0;  
      }
      @include breakpoint(xlarge) {
        margin: $gutter*3 0;
      } 
      .content-band {
        padding-left: 0;
        padding-right: 0;
      }      
    }
  }
}

body.none {
   min-width: rem-calc(150);
   background: none;
}
body.none .half-col p { 
  margin-bottom: 0.2rem; 
}
body.none .half-col label { 
  font-weight: 400; font-size: 0.875rem; 
}
@media screen and (max-width: 28em) {
  body.none hr { margin: 4px auto;}
}
@media screen and (min-width: 28em) { 
  body.none .half-col { float: left; width: 50%; }
  body.none .half-col p { margin-bottom: 0.9rem; }
  body.none .half-col label { font-weight: 500; font-size: 1rem; }
  body.none [type="email"] { width: 50%; }
}
@media print {
  .large-5[style] {
   margin-top: 0 !important;
  }
}
