* {
  transition: .5s;  
}

.background-album {
 /* background: -webkit-linear-gradient(right, rgba(120,120,120,0.4) 0%,rgba(120,120,120,0.4) 50%,rgba(120,120,120,0) 50%); 
  background:     linear-gradient(to left, rgba(120,120,120,0.4) 0%,rgba(120,120,120,0.4) 50%,rgba(120,120,120,0) 50%);
  z-index: -1; */
}
.album-block {
  position: relative;
  overflow: hidden;
  z-index: 100;
  padding-bottom: 2rem;
}
.album-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 14%;
  bottom: 2rem;
  transition: .5s;
  z-index: -1;
}
.green::before {
  background-color: #88BD45;
}
.purple::before {
  background-color: #725090;
}
.orange::before {
  background-color: #ff6c00;
}
.teal::before {
  background-color: #00a19a;
}
.album-block  figure {
  margin: 0;
  width: 86%;
}
.spotify {
  padding: 0 0.5rem 1.25rem 2%;
  margin-left: 15%;
}
.sidebar-subtitle {
  margin: 0.6em 0 0.6em 15%;
  padding: 0 0.5rem 0 2%;
}
.album-block img:not(.no-border) {
  border-color: rgba(255,255,255,0.8);
  border-style: solid;
  margin: 0 0 0.75rem;
}

.more-info {
  display: block;
  max-height: 0;
  margin: 0 0.5rem 0 22%;
  overflow: hidden;   
  transition: .25s;     
}
.large-5 .more-info {
  max-height: 60rem;  
  margin: 0.5rem 0.5rem 1.5rem 22%;
  transition: 1s; 
}
.album-link {
  display: block;
}
.songs {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 6px;
  word-break: break-word;
}
.songs li {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

@media (min-width: 61.25em) {
  .album-block {
    min-height: 44rem;
  }
  .album-block  figure {
    width: 100%;
  }
  .album-block img:not(.no-border) {
    border-width: 0.7rem 0.7rem 0.7rem 0;
    min-width: 100%;
  }
  .more-info {
    margin: 0.15rem 0.5rem 1.5rem 0.5rem;
  }
  .large-5  .more-info {
    margin: 0.15rem 0.75rem 1.5rem 0.75rem;
  }
}
@media (min-width: 78.75em) {
  .album-wrapper > .column:nth-child(even) .album  {
    transform: translateY(50%);
  }
}
