* {
  transition: .5s;
}

.background-album {
 /* background: -webkit-linear-gradient(right, rgba(120,120,120,0.4) 0%,rgba(120,120,120,0.4) 50%,rgba(120,120,120,0) 50%); 
  background:     linear-gradient(to left, rgba(120,120,120,0.4) 0%,rgba(120,120,120,0.4) 50%,rgba(120,120,120,0) 50%);
  z-index: -1; */
}
.album-block {
  position: relative;
  overflow: hidden;
  z-index: 100;
  padding-bottom: 5rem;
}
.album-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 14%;
  bottom: 5rem;
  transition: .5s;
  z-index: -1;
}
.green::before {
  background-color: #88BD45;
}
.purple::before {
  background-color: #725090;
}
.orange::before {
  background-color: #ff6c00;
}
.teal::before {
  background-color: #00a19a;
}
.album-block  figure {
  margin: 0;
  width: 86%;
  padding-top: 1rem;
}
.album-block  figcaption {
  padding: 0 0.5rem 0 1.5rem;
  position: relative;
  margin-left: 14%;
}
.album-block img:not(.no-border) {
  border-color: rgba(255,255,255,0.8);
  border-style: solid;
  margin: 0.5rem 0;
}
.more-info {
  display: block;
  margin: 0.5rem 0.5rem 1.5rem 22%;
  max-height: 0;
  overflow: hidden; 
}
.medium-5 .more-info {
  max-height: 80rem;
}
.songs {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 6px;
  word-break: break-word;
  transition: 0s;
}
.songs li {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
@media (min-width: 35.625em) {
  .album-block  figure {
    width: 100%;
  }
  .album-block  figcaption {
    margin-left: 18%;    
  }
  .album-block .medium-7   figcaption  {
    margin-left: 22%;
  }
  .more-info {
    margin: 2.5rem 1rem 1.5rem 1.5rem;
  }
}
@media (min-width: 61.25em) {
  .album-block img:not(.no-border) {
    border-width: 0.7rem 0.7rem 0.7rem 0;
    min-width: 100%;
  }
  .large-up-2 > .column:nth-child(even) .album  {
    padding-top: 6rem;
  }
  .large-up-2 > .column:nth-child(odd) .album  {
    padding-bottom: 6rem;
  }
}
@media (min-width: 78.75em) {
  .large-up-2 > .column:nth-child(even) .album  {
    padding-top: 9.5rem;
  }
  .large-up-2 > .column:nth-child(odd) .album  {
    padding-bottom: 9.5rem;
  }
}
