<div class="nav-global" id="nav-global">
  <div class="row">
    <div class="column">
      <div class="top-bar" id="top-bar"> 
        <div class="title-bar">
          <div class="float-right hide-for-xlarge">
            <button id="search-toggle" class="search-icon button" type="button" data-toggle="nav-search" aria-label="toggle search">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 54 54"><g stroke-width="6" fill="none"><circle cx="17" cy="17" r="16"/><line x1="28.4" y1="28.4" x2="47" y2="47"/></g></svg>
            </button><button id="menu-toggle" class="toggle-icon button" type="button" data-toggle="nav-main body-wrapper" aria-label="toggle menu">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 54 54" stroke-width="6">
              <g class="menu"><line x1="1" y1="44" x2="47" y2="44"/><line x1="1" y1="24" x2="47" y2="24"/><line x1="1" y1="4" x2="47" y2="4"/></g>
              <g class="menu-close"><line x1="1" y1="1" x2="47" y2="47"/><line x1="47" y1="1" x2="1" y2="47"/></g>
            </svg>
            </button>
          </div>
          <a href="/" class="logo-corp">
            <img class="no-border" src="/images/FreddieMacLogo.svg" alt="Freddie Mac logo">
          </a>
        </div>
      </div> 
      <nav class="nav-main" id="nav-main" role="navigation" data-toggler aria-expanded="false" data-animate="fade-in fade-out">      
        <div class="nav-section" id="section-perspectives">
          <a id="nav-perspectives" class="show-for-xlarge" href="/perspectives/">Perspectives</a>
          <ul class="no-bullet vertical menu hide-for-xlarge" id="subnav-perspectives" data-accordion-menu>
            <li class="subnav-item" id="subnav-perspectives-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-perspectives-toggle" data-toggle="subnav-perspectives-list" aria-controls="subnav-perspectives-list">Perspectives</a>
              <ul class="menu vertical nested xlarge-horizontal quick-delay" id="subnav-perspectives-list">
                <li class="hide-for-xlarge"><a id="subnav-perspectives-overview" href="/perspectives/">Overview</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="nav-section" id="section-research">
          <a id="nav-research" class="show-for-xlarge" href="/research/">Research</a>       
          <ul class="no-bullet vertical menu" id="subnav-research" data-accordion-menu>
            <li class="subnav-item ease" id="subnav-research-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-research-toggle" data-toggle="subnav-research-list" aria-controls="subnav-research-list">Research</a>
              <ul class="menu vertical nested xlarge-horizontal quick-delay" id="subnav-research-list">
                <li class="hide-for-xlarge"><a id="subnav-research-overview" href="/research/">Overview</a></li>
                <li><a id="subnav-research-mortgage" href="/pmms/">Mortgage Rates</a></li>
                <li><a id="subnav-research-insight" href="/research/insight/">Insight</a></li>
                <li><a id="subnav-research-outlook" href="/research/outlook/">Outlook</a></li>
                <li><a id="subnav-research-consumer" href="/research/consumer-research/">Consumer Research</a></li>
                <li><a id="subnav-research-indices" href="/research/indices/">Indices</a></li>
                <li><a id="subnav-research-datasets" href="/research/datasets/">Additional Datasets</a></li>
              </ul>
            </li>  
          </ul>
        </div>
        <div class="nav-section" id="section-blog"> 
          <a id="nav-blog" class="show-for-xlarge" href="/blog/">Blog</a>
          <ul class="no-bullet vertical menu" id="subnav-blog" data-accordion-menu>
            <li class="subnav-item" id="subnav-blog-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-blog-toggle" data-toggle="subnav-blog-list" aria-controls="subnav-blog-list">Blog</a>
              <ul class="menu vertical nested xlarge-horizontal quick-delay" id="subnav-blog-list">
                <li class="hide-for-xlarge"><a id="subnav-blog-overview" href="/blog/">Overview</a></li>
                <li><a id="subnav-blog-homeownership" href="/blog/homeownership/">Homeownership</a></li>
                <li><a id="subnav-blog-rental" href="/blog/rental_housing/">Rental Housing</a></li>
                <li><a id="subnav-blog-research" href="/blog/research_and_analysis/">Research &amp; Analysis</a></li>
                <li><a id="subnav-blog-notable" href="/blog/notable/">Notable</a></li>
                <li><a id="subnav-blog-archive" href="/blog/blog-archive/">Archive</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="nav-section" id="section-mediaroom">
          <a id="nav-mediaroom" class="hide show-for-xlarge" href="/media-room/">Media Room</a>
          <ul class="no-bullet vertical menu" id="subnav-mediaroom" data-accordion-menu>
            <li class="subnav-item" id="subnav-mediaroom-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-mediaroom-toggle" data-toggle="subnav-mediaroom-list" aria-controls="subnav-mediaroom-list">Media Room</a>
              <ul class="menu vertical nested xlarge-horizontal quick-delay" id="subnav-mediaroom-list">
                <li class="hide-for-xlarge"><a id="subnav-mediaroom-overview" href="/media-room/">Overview</a></li>
                <li><a id="subnav-mediaroom-archive" href="http://freddiemac.mwnewsroom.com/">Press Release Archive</a></li>
                <li><a id="subnav-mediaroom-resources" href="/media-room/resources.html">Media Resources</a></li>
              </ul> 
            </li>
          </ul>
        </div>
        <div class="nav-section" id="section-about"> 
          <a id="nav-about" class="hide show-for-xlarge" href="/about/">About</a>      
          <ul class="no-bullet vertical menu" id="subnav-about" data-accordion-menu>
            <li class="subnav-item" id="subnav-about-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-about-toggle" data-toggle="subnav-about-list" aria-controls="subnav-about-list">About</a>            
              <ul class="menu vertical nested xlarge-horizontal quick-delay" id="subnav-about-list">
                <li class="hide-for-xlarge"><a id="subnav-about-overview" href="/about/">Overview</a></li>
                <li><a id="subnav-about-leaders" href="/about/leaders/">Our Leaders</a></li>
                <li><a id="subnav-about-business" href="/about/business/">Our Business</a></li>
                <li><a id="subnav-about-people" href="/about/people/">Our People</a></li>
                <li><a id="subnav-about-communities" href="/about/communities/">Our Communities</a></li>
                <li><a id="subnav-about-governance" href="/governance/">Corporate Governance</a></li>
                <li><a id="subnav-about-investors" href="/investors/">Investor Relations</a></li>
                <li class="show-for-xlarge last-visible-xlarge"><a id="subnav-about-careers" href="http://www.freddiemac.jobs/">Careers</a></li>
                <li class="hide-for-xlarge mobile-careers-promo">                  
                  <a id="subnav-careers-promo" href="http://www.freddiemac.jobs/" class="block">
                    <h4 class="uppercase weight-medium">Careers at Freddie Mac</h4>
                    <p class="weight-light">Join us for new and exciting career opportunities that will let you achieve more and be at your best.</p>
                    <p><span class="button primary small uppercase inline-block">Job Search</span></p>
                  </a>
                </li>
              </ul>              
            </li>
          </ul>
        </div>
        <div class="nav-section nav-bus-section">
          <ul class="menu vertical show-for-xlarge nav-bus-container" data-accordion-menu>
            <li class="nav-accordion-parent nav-bus-toggle"><a href="#">Our Businesses</a>
              <ul class="menu vertical nested" id="subnav-bus-list">
                <li><a href="/singlefamily/"><h4>Single-Family</h4>
                  <p>For lenders, servicers and industry partners</p></a>
                </li>
                <li><a href="/multifamily/"><h4>Multifamily</h4>
                  <p>For lenders, servicers, borrowers and investors</p></a>
                </li>
                <li><a href="/capital-markets/"><h4>Capital Markets</h4>
                  <p>For securities investors</p></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>  
        <div class="nav-section hide-for-xlarge  nav-bus-section-mobile">
          <ul class="no-bullet vertical menu">
            <li class="mobile-nav-topic">Our Businesses</li>
            <li><a href="/singlefamily/">Single-Family</a></li>
            <li><a href="/multifamily/">Multifamily</a></li>
            <li><a href="/capital-markets/">Capital Markets</a></li>        
            <li class="mobile-nav-topic">Renters, Buyers, &amp; Owners</li> 
            <li><a href="http://myhome.freddiemac.com/">My Home by Freddie Mac<sup>&reg;</sup><div class="weight-light nav-description">Resources to help you rent, buy and own your home.</div></a></li>
            <li><a href="https://ww3.freddiemac.com/loanlookup/">Do we own your mortgage?<div class="weight-light nav-description">Find out if Freddie Mac owns your loan using our secured lookup tool.</div></a></li>
            <li><a href="https://www.homesteps.com/">Homes for Sale<div class="weight-light nav-description">Buy a home from HomeSteps<sup>&reg;</sup>, the real estate sales unit of Freddie Mac.</div></a></li>
          </ul>
        </div>
      </nav> 

      <div class="nav-search ease-in-out fast quick-delay" aria-expanded="false" id="nav-search" data-toggler data-animate="slide-in-down slide-out-up">
        <form action="http://search.freddiemac.com/search" method="get" accept-charset="utf-8">
          <input type="hidden" name="entqr" value="0">
          <input type="hidden" name="output" value="xml_no_dtd">
          <input type="hidden" name="sort" value="date:D:L:d1">
          <input type="hidden" name="client" value="default_frontend">
          <input type="hidden" name="ud" value="1">
          <input type="hidden" name="oe" value="UTF-8">
          <input type="hidden" name="ie" value="UTF-8">
          <input type="hidden" name="proxystylesheet" value="default_frontend">
          <input type="hidden" name="getfields" value="description">
          <input type="hidden" name="site" value="default_collection">
          <div class="row collapse medium-uncollapse">
            <div class="column small-10 medium-10 large-11">
              <div class="gutter-right-small-only">
                <label for="mobile-search" class="show-for-sr">Site Search</label>
                <input id="mobile-search" name="q" type="search" placeholder="Site Search" required maxlength="100">
              </div>              
            </div>
            <div class="column small-2 medium-2 large-1">
              <button type="submit" class="float-right button search-button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>