<div class="orbit ease" role="region" aria-label="Housing Facts" data-orbit data-timer-delay="10000" data-automate-nav="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container affordable-facts">
    <li class="orbit-slide">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-22-42 weight-bold medium-text-left no-margin">Heating and cooling account for more than half of the energy use in a typical home</p>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-18-34 weight-bold medium-text-left no-margin">Shared equity homeowners were 10 times less likely to be in foreclosure than homeowners in the conventional market</p>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-22-42 weight-bold medium-text-left no-margin">79 percent of community land trust borrowers are first-time home buyers</p>
        </div>
      </div>
    </li>
  </ul>
</div>