
<div class="row medium-up-2 large-up-4 text-left"  data-equalizer data-equalize-by-row="true">
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="https://groundedsolutions.org/new-report-explores-shared-equity-homeownership-funding-model/" rel="external">Shared Equity Homeownership Funding Model</a></h3>
        <p class="flex-up accent-sapphire">Q&amp;A article with Dan Ticona, Affordable Lending Strategy and Policy Manager, Freddie Mac's Single-Family</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" data-open="ahCard3Modal" aria-controls="ahCard3Modal">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a data-open="ahCard3Modal" aria-controls="ahCard3Modal">Why You Should Consider Affordable Housing Preservation</a></h3>
        <p class="flex-up accent-sapphire">There are many reasons to consider shared equity programs.</p>
      </div>
      <div class="reveal background-sapphire" id="ahCard3Modal" data-reveal>
        <div class="modal-content row-container">
          <div class="row">
            <div class="column xlarge-offset-1 xlarge-10 end">
              <div class="modal-header">
                <h2>Duty to Serve</h2>
              </div>
              <div class="callout large background-white">
                <div class="callout small-to-large">
                <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
                  <h3 style="margin-bottom: 0.75em;">Why You Should Consider Affordable Housing Preservation</h3>
                  <p>In  addition to strengthening your commitment to help more families with very low-,  low- and moderate-income attain and sustain homeownership, here are other  reasons to consider shared equity programs.</p>
                </div>                        
                  <br class="reduce">
                  <ul class="checkbox-list">
                    <li><strong>May help you meet your Community Reinvestment Act (CRA) mandates –</strong> based  on your CRA strategy.</li>
                    <li><strong>Increase your affordable footprint –</strong> provides entry into a  niche market and help you strengthen your affordability goals</li>
                    <li><strong>Expand business opportunities –</strong> These programs are  not markets that are served. If borrowers are trying to capture a new market  within affordable space, this could be something that they want to consider.</li>
                  </ul>
                  <p class="weight-normal flex-up gutter-bottom">Freddie  Mac will buy mortgages secured by properties subject to income-based resale  restrictions and properties in community land trusts so you will have access to  liquidity in the secondary mortgage market. Freddie Mac believes that shared  equity providers are entities that may help mitigate losses if a borrower is in  default.  <a href="https://myhomekeeper.org/view-the-public-homekeeper-national-data-hub-dashboard/" rel="external">Studies  show</a> that shared equity homeowners were 10 times  less likely to be in foreclosure than homeowners in the conventional market  across all incomes.</p>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
</div>