
<div class="reveal background-sapphire" id="ahModal1" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Shared Equity Programs</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">                   
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">What's a Duty to Serve shared-equity homeownership program?</h3>
              <p class="weight-normal flex-up gutter-bottom">Shared equity homeownership is an umbrella term for programs that provide homeownership opportunities with lasting affordability, sometimes referred to as "permanently affordable homeownership programs" or homeownership programs with "lasting affordability" or "long-term affordability." These programs generally make a one-time investment to create homeownership opportunities that are affordable for purchase by a low- or moderate-income homebuyer. In return for owning a home at an affordable cost, the homeowners agree to certain restrictions including limitations on returns upon resale or limitations on conveyances of the property. In effect, homeowners "share" some of the proceeds from resale to pay the opportunity forward to the next homebuyer with low or moderate income.</p>
              <p class="weight-normal flex-up gutter-bottom">The majority of shared equity homeownership programs ("SEH Programs") are resale-restricted programs, meaning that they restrict the maximum price for which the home may be resold and restrict who may purchase the property to income-eligible households. Hence, buyers with low or moderate income purchase and resell homes at prices below fair market value in order to keep the home affordable.</p>
            </div>
            <br class="reduce">
            <p class="intro">Here&rsquo;s  how we&rsquo;re supporting shared equity programs through our Duty to Serve  initiatives:</p>
            <ul class="weight-bold checkbox-list">
              <li>Leveraging relationships with local  organizations to broaden access to homebuyer education and housing</li>
              <li>Develop guidelines to facilitate new  mortgage originations for properties in community land trusts and properties  with income-based resale restrictions.</li>
              <li>Conducting research on shared equity  programs to better understand this market and identify new opportunities to  support it</li>
              <li>Buying loans originated under shared  equity programs to increase liquidity </li>
              <li>Supporting standardization of data  collection at the transaction level</li>
              <li>Promoting market awareness of shared  equity programs</li>
            </ul>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>