<div class="reveal background-sapphire" id="ahModal2" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Energy Efficiency</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">Energy efficiency improvements:</h3>
              <p class="weight-normal flex-up gutter-bottom">Energy, heating and cooling costs are the largest utility expense for most U.S. homes and can be a financial burden. Upgrading to energy-efficient features can reduce energy costs and help to preserve affordability of homeownership, especially in underserved markets where homes are older and in need of these upgrades. But, financing these improvements is also a challenge for homeowners in these markets. Under Duty to Serve, we're developing new mortgage products and enhancing current ones to make financing these energy renovations easier.</p>
            </div>
            <br class="reduce">
            <p class="intro">Here&rsquo;s  how we&rsquo;re supporting energy efficiency improvements: </p>
            <ul class="weight-bold checkbox-list">
              <li>Conducting research on the impact of  energy efficiency improvements on property values and loan mortgage performance  and publish our research findings in 2019. </li>
              <li>Developing valuation guidance and data  collection mechanisms to account for energy-efficient features</li>
              <li>Designing new or improved product  flexibilities </li>
              <li>Purchasing mortgages on properties with  energy efficiency features </li>
              <li>Allowing lenders to use energy efficiency  to compensate for higher debt-to-income ratios</li>
              <li>Permitting cash-out refinance  transactions that allow borrowers to
                <ul>
                  <li>make energy efficiency improvements</li>
                  <li>pay off existing debt obligations related to energy  efficiency improvements </li>
                  <li>pay off property assessed clean energy (PACE) loans</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>