<h3 style="margin-bottom: 0.75em;">General</h3>
<ol class="accordion-faq" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What is affordable housing preservation?</a>
    <div class="accordion-content" data-tab-content>
      <p>Preservation of affordable homeownership entails ensuring that the price of a home is affordable to the initial buyer and subsequent buyers over a long-term period, whether purchasing a newly constructed home or an existing home. Additionally, preserving affordable housing can also be achieved by reducing housing costs through utility savings, and through energy efficiency home improvements.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What are Freddie Mac's Single-Family Duty to Serve activities for affordable housing preservation?</a>
    <div class="accordion-content" data-tab-content>
      <p>Through our Duty to Serve initiatives,  we&rsquo;re:</p>
      <ul>
        <li>Facilitating financing of energy efficiency  improvements through first lien mortgages</li>
        <li>Testing and optimizing innovative product  features and underwriting guidelines through pilot programs </li>
        <li>Developing guidelines to facilitate new mortgage  originations for properties in community land trusts and other shared equity  programs</li>
        <li>Conducting research on energy efficiency and  shared equity markets, to better align our offerings with these markets&rsquo; needs </li>
        <li>Providing borrower education and resources for  lenders about Freddie Mac shared equity offering and energy efficiency  financing options</li>
      </ul>
    </div>
  </li>
</ol>
<h3 style="margin-bottom: 0.75em; margin-top: 0.75em;">Energy Efficiency</h3>
<ol class="accordion-faq" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What are Freddie Mac's Single-Family activities for energy efficiency improvements on first-lien single-family homes to support affordable housing?</a>
    <div class="accordion-content" data-tab-content>
      <p>Freddie Mac  supports the energy efficiency market, and through our Duty to Serve  initiatives, we&rsquo;re:</p>
      <ul>
        <li>Conducting research on the impact of energy  efficiency improvements on property values and loan mortgage performance and  publish our research findings in 2019. </li>
        <li>Developing valuation guidance and data  collection mechanisms to account for energy-efficient features</li>
        <li>Designing new or improved product flexibilities </li>
        <li>Purchasing mortgages on properties with energy  efficiency features </li>
        <li>Allowing lenders to use energy efficiency to  compensate for higher debt-to-income ratios</li>
        <li>Permitting cash-out refinance transactions that  allow borrowers to
          <ul>
            <li>make energy efficiency improvements</li>
            <li>pay off existing debt obligations related to  energy efficiency improvements </li>
            <li>pay off property assessed clean energy (PACE) loans</li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What is the greatest challenge lenders face in the energy efficiency market?</a>
    <div class="accordion-content" data-tab-content>
      <p>The greatest challenge is that there is currently no standardized way in which energy efficiency improvements are capitalized into home values. Therefore, borrowers are not able to consistently realize the value of their investment in energy efficiency in their homes.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Do you have any loan products available around energy efficiency improvements?</a>
    <div class="accordion-content" data-tab-content>
      <p>Freddie Mac does not have a specific  product to finance energy efficiency improvements. Instead we provide  flexibilities to finance energy efficiency improvements through any eligible  product in the <em>Freddie Mace Single-Family  Seller/Servicer Guide</em> (Guide). We do this because we received market  feedback that niche products do not work as intended and it was recommended to  Freddie Mac by market participants that we offer product flexibilities that can  be applied to all Guide eligible products. Please access our <a href="/singlefamily/factsheets/sell/energy_efficient_properties.html">energy conservation improvement fact sheet</a> for more information.</p>
      <p>Please note: We purchase mortgages  secured by properties with such improvements through any mortgage product and  property type eligible under our Guide.</p>
    </div>
  </li>
</ol>
<h3 style="margin-bottom: 0.75em; margin-top: 0.75em;">Shared Equity</h3>
<ol class="accordion-faq" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What is Freddie Mac doing to support affordable housing for shared equity?</a>
    <div class="accordion-content" data-tab-content>
      <p>Through our Duty to  Serve initiatives, we&rsquo;re: </p>
      <ul>
        <li>Leveraging relationships with local  organizations to broaden access to homebuyer education and housing</li>
        <li>Develop guidelines to facilitate new mortgage  originations for properties in community land trusts and properties with income-based  resale restrictions.</li>
        <li>Conducting research on shared equity programs to  better understand this market and identify new opportunities to support it</li>
        <li>Buying loans originated under shared equity  programs to increase liquidity </li>
        <li>Supporting standardization of data collection at  the transaction level</li>
        <li>Promoting market awareness of shared equity  programs</li>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What are shared-equity homeownership programs under Freddie Mac's Single-Family Duty to Serve?</a>
    <div class="accordion-content" data-tab-content>
      <p>Under Duty to Serve, shared equity homeownership programs provide  homeownership opportunities with lasting or long-term affordability. These programs  generally make a one-time investment to create affordable homeownership for homebuyers  with low or moderate income. In return, the homeowners agree to certain  restrictions, including limitations on returns upon resale or limitations on  conveyances of the property. In effect, homeowners &ldquo;share&rdquo; some of the proceeds  from resale to pay the opportunity forward to the next homebuyer with low or  moderate income.</p>
      <p>Most of these programs are resale-restricted  programs, which means that they restrict the home&rsquo;s maximum selling price and who  may purchase the property to income-eligible households. Hence, buyers with low  or moderate income purchase and resell homes at prices below fair market value,  to keep the home affordable.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What is the greatest challenge lenders face in the energy efficiency market?</a>
   <div class="accordion-content" data-tab-content>
    <p>The greatest challenge is that there is currently no standardized way in which energy efficiency improvements are capitalized into home values. Therefore, borrowers are not able to consistently realize the value of their investment in energy efficiency in their homes.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What's a community land trust?</a>
    <div class="accordion-content" data-tab-content>
      <p>A community land trust  (CLT) is a type of permanently affordable homeownership program. Under the  Community Land Trust model, the Community Land Trust owns land and leases it  under a long-term ground lease to low- and moderate-income homebuyers who  finance the purchase of the structure on the land through a first lien  mortgage. The ground lease contains certain land use restrictions and other  restrictions such as occupancy, resale price and financing that ensure the  continued use of the property for low-   and moderate-income households.</p>
      <p>Community land trusts  (CLTs) are typically community-based nonprofits, state or local governments. They  typically acquire properties by purchasing them at market rate or at a discount,  through in-kind donations, or via state/local agencies. The borrower must sign  a ground lease. </p>
    </div>
  </li>
    <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What's a community land trust ground lease?</a>
   <div class="accordion-content" data-tab-content>
    <p>The vast majority of CLTs utilize renewable, 99-year ground leases to create shared equity homeownership opportunities. The homeowner leases the land from the CLT for a nominal monthly ground lease fee while s/he owns and obtains mortgage financing for the improvements. Sometimes, the CLT provides additional subsidy beyond the fair market value of the land in order to make the home affordable for a household with low or moderate income.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What is an income-based resale restricted program?</a>
    <div class="accordion-content" data-tab-content>
      <p> Income-based resale restricted programs, also known as  deed restriction programs, are a type of permanently affordable homeownership program that  create and preserve affordable housing for borrowers with low and moderate  income. These programs restrict  the sales price of properties for initial and subsequent borrowers. The  restrictions are imposed by nonprofits, state and local governments or  municipalities, and are recorded prescribed and enforced through a legal  document called a deed covenant.</p>
      <p>Deed covenants sometimes only have 30-year terms due to state rules  against perpetuities. In these instances, affordability of the homes is  preserved by ensuring the shared equity program has the preemptive option to  purchase the home and may transfer this option to an eligible buyer. Income-based  resale restricted programs have every new homeowner sign a new deed covenant  with a new term. That way, the affordable home is preserved and serves  subsequent homebuyers with low or moderate income.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">I'm a lender, why should I participate in shared equity programs?</a>
    <div class="accordion-content" data-tab-content>
      <p>In  addition to strengthening your commitment to help more families with very low-, low- and moderate-income attain and sustain homeownership, here are other  reasons to consider shared equity programs: </p>
      <ul>
        <li><strong>May help you  meet your Community Reinvestment Act (CRA) mandates – </strong>based on  your CRA strategy.</li>
        <li><strong>Increase  your affordable footprint – </strong>provides entry into a niche market  and help you strengthen your affordability goals</li>
        <li><strong>Expand  business opportunities –</strong> These programs are not markets that are served. If  borrowers are trying to capture a new market within affordable space, this  could be something that they want to consider.</li>
      </ul>
      <p>Freddie  Mac will buy mortgages secured by properties subject to income-based resale  restrictions and properties in community land trusts so you will have access to  liquidity in the secondary mortgage market. Freddie Mac believes that shared  equity providers are entities that may help mitigate losses if a borrower is in  default.  <a href="https://myhomekeeper.org/view-the-public-homekeeper-national-data-hub-dashboard/" rel="extneral">Studies show</a> that shared  equity homeowners were 10 times less likely to be in foreclosure than  homeowners in the conventional market across all incomes.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Does borrower receive any equity when home is sold?</a>
    <div class="accordion-content" data-tab-content>
      <p>Not always. If the home has appreciated  in value in accordance with the resale restriction formula, the borrower would  share any equity accumulated on the property with the shared equity provider.  The borrower agrees to share any equity gains on the property in exchange for  having an opportunity to own a home. If the home did not appreciate in value,  then the borrower may not get any equity during a sale of the property. Most shared  equity programs are designed to ensure that the borrower is not walking away  with less money than what they originally put into the initial home financing transaction.</p>
      <p><strong>Please note:</strong> The term shared  equity refers to the equity that the program administrator is sharing with the  borrower in order for the home to be affordable. With CLTs, they share their  equity position on the land with the borrower by allowing the borrower to use  the land at a reduced lease fee. And, in the income-based resale restricted  programs, the program administrator is sharing in their equity position in the  property by allowing the borrower to purchase the home at a significantly subsidized price.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What is the role that lenders play in shared equity lending initiatives?</a>
    <div class="accordion-content" data-tab-content>
      <p>Lenders provide the first lien mortgage financing.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What restrictions must a borrower agree to for a community land trust deed and restriction shared equity programs?</a>
    <div class="accordion-content" data-tab-content>
      <p>Borrowers must agree to the following restrictions for  community last trusts and income-based resale restricted programs:</p>
      <ul>
        <li><strong>Sales  price:</strong> program prescribes limits on resale price of the property for  initial and subsequent buyers. </li>
        <li><strong>Occupancy:</strong> most programs will require that the property be a primary home, owner-occupied  home</li>
        <li><strong>Financing:</strong> the program will review any first or secondary financing that the borrower may  obtain </li>
        <li><strong>Allowable  property improvements: </strong>the program will review any property improvements  that the borrower may want to do on the property.</li>
      </ul>
    </div>
  </li>
</ol>