<div class="row collapse large-uncollapse large-up-3 text-static-16-18">
  <div class="column">
    <div class="gutter-bottom show-for-large text-center">
      <a class="overlay circle" href="/singlefamily/duty-to-serve/manufactured.html"><img alt="Manufactured Housing icon" src="images/D2S_ManufacturedHousing-v2.svg"></a>
    </div>
    <div class="media-object collapse">
      <div class="media-object-section hide-for-large">  
        <a class="overlay circle" href="/singlefamily/duty-to-serve/manufactured.html"><img alt="Manufactured Housing icon" style="width:75px;" src="images/D2S_ManufacturedHousing-v2.svg"></a>
      </div>
      <div class="media-object-section text-left large-text-center main-section">
        <div class="callout xsmall">
          <h3 class="text-flex-21-28 uppercase"><a href="/singlefamily/duty-to-serve/manufactured.html">Manufactured<br>Housing</a></h3>
          <p class="no-margin">It's a viable source of sustainable, energy-efficient and affordable homeownership market.</p>
        </div>
      </div>              
    </div>
  </div>
  <div class="column">
    <div class="gutter-bottom show-for-large text-center">
      <a class="overlay circle" href="/singlefamily/duty-to-serve/rural.html"><img alt="Rural Housing icon" src="images/D2S_RuralHousing-v2.svg"></a>
    </div>
    <div class="media-object collapse">
      <div class="media-object-section hide-for-large">  
        <a class="overlay circle" href="/singlefamily/duty-to-serve/rural.html"><img alt="Manufactured Housing icon" style="width:75px;" src="images/D2S_RuralHousing-v2.svg"></a>
      </div>
      <div class="media-object-section text-left large-text-center main-section">
        <div class="callout xsmall">
          <h3 class="text-flex-21-28 uppercase"><a href="/singlefamily/duty-to-serve/rural.html">Rural<br>Housing</a></h3>
          <p class="no-margin">Removing barriers and supporting innovative solutions to put qualified borrowers in rural markets on the path to homeownership. </p>
        </div>
      </div>              
    </div>
  </div>
  <div class="column">
    <div class="gutter-bottom show-for-large text-center">
      <a class="overlay circle" href="/singlefamily/duty-to-serve/affordable.html"><img alt="Affordable Housing icon" src="images/D2S_AffordablePreservation-v2.svg"></a>
    </div>
    <div class="media-object collapse">
      <div class="media-object-section hide-for-large">  
        <a class="overlay circle" href="/singlefamily/duty-to-serve/affordable.html"><img alt="Manufactured Housing icon" style="width:75px;" src="images/D2S_AffordablePreservation-v2.svg"></a>
      </div>
      <div class="media-object-section text-left large-text-center main-section">
        <div class="callout xsmall">
          <h3 class="text-flex-21-28 uppercase"><a href="/singlefamily/duty-to-serve/affordable.html">Affordable Housing<br>Preservation</a></h3>
          <p class="no-margin">Let's about keep homes affordable throughout the life of the mortgage and reduce housing costs.</p>
        </div>
      </div>              
    </div>
  </div>
</div>