
<div class="row medium-up-2 large-up-4 text-left"  data-equalizer data-equalize-by-row="true">
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="video-modal widescreen-video" href="https://www.youtube.com/watch?v=2K_vbKUa5DM" data-src="https://www.youtube-nocookie.com/embed/2K_vbKUa5DM?rel=0&amp;wmode=transparent">
        <img src="http://via.placeholder.com/350x200?text=Video+Image" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a class="video-modal" href="https://www.youtube.com/watch?v=2K_vbKUa5DM" data-src="https://www.youtube-nocookie.com/embed/2K_vbKUa5DM?rel=0&amp;wmode=transparent">Single Close Construction Conversion Loan</a></h3>
        <p class="flex-up accent-sapphire">Experience a shorter, more efficient closing process for financing a real property manufactured home.</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
</div>