
<div class="reveal background-sapphire" id="mhModal1" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Duty to Serve</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">Real Property Manufactured Housing</h3>
              <p class="weight-normal flex-up gutter-bottom"><strong>DEFINITION: Real Property Manufactured Housing:</strong> These are homes where the borrower finances and owns both the land and home, and it meets all applicable real property requirements. Freddie Mac currently support financing for this type of manufactured home.</p>
            </div>
            <br class="reduce">
            <p class="intro">We currently support financing for real property manufactured homes, but we want to do more. Through Duty to Serve, we're working with industry stakeholders to: </p>
            <ul class="weight-bold checkbox-list">
              <li>Purchase more loans used to finance manufactured homes titled as real property </li>
              <li>Enhance current products and create new offerings </li>
              <li>Provide consumer education to help borrowers navigate the real property market </li>
              <li>Expand our affordable housing vision by providing conventional loan financing with CHOICEHome<sup>SM</sup>, a new type of manufactured home</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>