<div class="orbit ease" role="region" aria-label="Housing Facts" data-orbit data-timer-delay="10000" data-automate-nav="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container manufactured-facts">
    <li class="orbit-slide align-self-middle">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-22-42 weight-bold medium-text-left">Average price per square foot of a manufactured home is $49 vs $107 for site built</p>
        </div>
      </div>
    </li>
    <li class="orbit-slide align-self-middle">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-22-42 weight-bold medium-text-left">The average sales price of a new manufactured home is $73,400</p>
        </div>
      </div>
    </li>
    <li class="orbit-slide align-self-middle">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-22-42 weight-bold medium-text-left">Manufactured housing sector contributes almost $3 billion to GDP each year </p>
        </div>
      </div>
    </li>
  </ul>
</div> 