
<div class="reveal background-sapphire" id="mhModal2" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Duty to Serve</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">Personal Property Manufactured Housing (Chattel)</h3>
              <p class="weight-normal flex-up gutter-bottom"><strong>DEFINITION: Personal Property Manufactured Housing (Chattel):</strong> A manufactured home titled as personal property or chattel is when the loan used to purchase the home or refinance the home uses only the home as collateral and not the land where the home is sited. The security lien for the loan is placed on the title to the home. The homeowner may own the land, rent or lease the land on which the home is located.</p>
            </div>
            <br class="reduce">
            <p class="intro">We're currently exploring opportunities to purchase personal property or chattel loans. </p>
            <p class="intro">Through Duty to Serve, we're working with industry stakeholders to: </p>
            <ul class="weight-bold checkbox-list">
              <li>Develop new sustainable capabilities to buy and securitize personal property or chattel loans.</li>
              <li>Conducting a personal property (chattel) test and learn pilot program to better understand the market for manufactured homes titled as personal property, or chattel, and to support purchases of loans secured for these homes. </li>
              <li>Provide consumer education to help borrowers navigate both the personal property market.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>