<div class="orbit ease" role="region" aria-label="Housing Facts" data-orbit data-timer-delay="10000" data-automate-nav="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container rural-facts">
    <li class="orbit-slide">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-22-42 weight-bold medium-text-left no-margin">Maine and Vermont have the highest proportion of population living in rural areas (about 61%)</p>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-22-42 weight-bold medium-text-left no-margin">California has the lowest proportion of population living in rural areas (4.9%) </p>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="media-object stack-for-small">
        <div class="media-object-section align-self-middle">
          <img class="no-border" alt="Did you know?" style="width: 276px;" src="/singlefamily/duty-to-serve/images/did_you_know_icon.svg">
        </div>
        <div class="media-object-section main-section align-self-middle gutter-left">
          <p class="text-flex-18-34 weight-bold medium-text-left no-margin">Rural America encompasses 72% of our country's land area, houses 46 million residents and plays an essential role in the overall economy</p>
        </div>
      </div>
    </li>
  </ul>
</div> 