<div class="reveal background-sapphire" id="rhModal0" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Duty to Serve </h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="">Rural Housing</h3>
              <p class="weight-normal flex-up gutter-bottom">Lenders and borrowers with low, very  low and moderate income face the following challenges in rural markets in  high-needs areas - limited access to financial services,  appraisal challenges, aging housing stock and borrowers with limited knowledge  about the homebuying process.</p>
            </div>                  
            <br class="reduce">
            <p class="intro">Here&rsquo;s how we&rsquo;re addressing these challenges. </p>
            <ul class="weight-bold checkbox-list">
              <li>Improving the distribution of investment capital and bring greater  liquidity to small financial institutions</li>
              <li>Leading lender training sessions</li>
              <li>Providing guidance on appraisal guidelines for rural homes We&rsquo;re adding more appraisal data on rural properties to Home Value Explorer&reg; (HVE&reg;),       our automated valuation model that helps generate property value       estimates.</li>
              <li>Enhancing our product offerings</li>
              <li>Implementing homebuyer and consumer credit education programs in rural markets in high-needs areas with our strategic alliances with       Federation of Appalachian Housing Enterprises (FAHE), Hope Enterprise       Corporation and the Community Development Corporation of Brownsville       (CDCB). </li>
              <li>Partnering with NextJob to provide re-employment services to </li>
            </ul>
            <ul class="weight-bold checkbox-list">
              <li>Our strategic  nonprofit partners to assist their clients become mortgage ready</li>
              <li>Servicers of Home Possible&reg; loans for borrowers who  experience unemployment and are located in a Duty to Serve  high-needs area</li>
            </ul>
            <ul class="weight-bold checkbox-list">
              <li>Collaborate with the U.S. Department of Agriculture (USDA) and the U.S. Department of Housing and Urban Development (HUD) to identify and       promote more affordable housing options</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>