<div class="row">
  <div class="column xlarge-offset-1 large-4"> 
    <p class="text-flex-15-18 uppercase weight-bold accent-iceblue half-margin-bottom">Featured Video</p>
    <h2 class="text-flex-26-42 gutter-bottom no-margin">We're improving our products and making lending more efficient for the entire rural housing market.</h2>
  </div>
  <div class="column large-8 xlarge-6 end"> 
      <div class="responsive-embed widescreen">
      <iframe width="100%" src="https://www.youtube-nocookie.com/embed/tCg9285bJnY?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div> 