<div class="row medium-up-2 large-up-4 text-left"  data-equalizer  data-equalize-by-row="true">
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="/singlefamily/news/2018/0606_nextjob_reemployment_services.html">New Re-Employment Program to Help Unemployed and Aspiring Homeowners</a></h3>
        <p class="flex-up accent-sapphire">We're excited about our new partnership with a national re-employment solutions company, <a href="http://www.nextjob.com/">NextJob</a>. Together with NextJob, we've launched a new program that provides re-employment services and job search coaching for unemployed and underemployed Home Possible® borrowers and aspiring homeowners. </p> 
        <p class="flex-up accent-sapphire">We understand that life can bring unexpected events that impact one's financial well-being – a job loss or reduced work hours. So we see this program as a proactive solution to help homeowners get back on track with their mortgage payments and stay in their homes.</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
  <div class="column column-block">
    <div class="background-white" data-equalizer-watch>
      <a class="block" href="#">
        <img src="https://placekitten.com/350/200" alt="Img description" />
      </a>
      <div class="callout">
        <h3 class="card-title weight-medium"><a href="#">Title Lorem Ipsum</a></h3>
        <p class="flex-up accent-sapphire">Maecenas eget metus lectus. In sed est risus. Sollicitudin luctus. Cras eget</p>
      </div>
    </div>
  </div>
</div>