<h3 style="margin-bottom: 0.75em;">General</h3>
<ol class="accordion-faq" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Has Freddie Mac conducted a pilot with NextJob to test out the homeowner re-employment services program? </a>
    <div class="accordion-content" data-tab-content>
    <p>Yes. Freddie Mac launched its first homeowner re-employment pilot with NextJob in June 2015 to help homeowners secure employment and avoid foreclosure. At the time, the pilot was the largest test of homeowner re-employment in the mortgage industry and included Freddie Mac lending partners.  </p>
    <p>Homeowners who took part in the pilot increased their job search skills and landed jobs at nearly triple the normal rate of re-employment. Many homeowners were classified as long-term unemployed (unemployed for 6 months or more) before participating in the program, and, on average, homeowners landed new employment in just over four months.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">How do Seller/Servicers benefit from this partnership?</a>
    <div class="accordion-content" data-tab-content>
    <p>Foreclosure is devastating for homeowners and their families, and from a lending standpoint, it's costly and time-consuming for a Seller/Servicer. Seller/Servicers can incur charges stemming from legal fees, upkeep of vacant property, lost revenue and other expenses that add up over time. With this program, Seller/Servicers can simultaneously help homeowners out of a difficult situation and minimize costly foreclosures.  </p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What information does the homeowner need to know? </a>
    <div class="accordion-content" data-tab-content>
    <p>There should be communication between the homeowner and Seller/Servicer about the homeowner's financial issues. The Servicer will determine eligibility. If the homeowner is approved to participate in the program, NextJob contacts the homeowner directly. The approved homeowner will then complete NextJob's registration form and waivers. Next, the homeowner is paired with a NextJob job search coach and the training begins. The homeowner must know that the Seller/Servicer does not waive any of their rights related to the mortgage and that the program does not guarantee re-employment.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Does participation in the program affect a homeowner's mortgage terms and/or prevent foreclosure? Are there any penalties for not participating?</a>
    <div class="accordion-content" data-tab-content>
    <p>This is a completely voluntary program that Freddie Mac is offering to eligible homeowners at no cost to the lender or homeowner. Program participation does not affect mortgage terms or prevent foreclosure. The overarching goal is to help unemployed and underemployed homeowners transition to their next job, which, if successful, could result in an improvement to their financial situation. There are no penalties for not participating. </p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Is there a fee to participate in this program? </a>
    <div class="accordion-content" data-tab-content>
    <p>There is no fee to participate in this program. NextJob's services are paid for 100 percent by Freddie Mac.  </p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Is it the case that only eligible Home Possible borrowers are able to participate in this program?  </a>
    <div class="accordion-content" data-tab-content>
      <p>NextJob will also provide its re-employment services and job search coaching for aspiring low-to-moderate income homeowners referred by Freddie Mac's Borrower Help Center in Mississippi and nonprofit partners in the designated Duty to Serve high-needs areas: Middle Appalachia, the Lower Mississippi Delta, the Colonias and other persistent poverty areas.  </p>
      <p>The program helps these unemployed or underemployed aspiring homeowners in their efforts to secure, retain and advance their employment, which, if successful, would help them qualify for a future Home Possible® mortgage.</p> 
      <p>For these aspiring homeowners, NextJob's services are limited to four weeks of one-on-one job coaching sessions, 13 weeks of "Job Talk" job club webinar meetings and 39 weeks of NextJob's proprietary online job search training programs. There is no guarantee of employment or re-employment with this service. </p>
    </div>
  </li>
</ol>
<h3 style="margin-bottom: 0.75em; margin-top: 0.75em;">Eligibility Requirements and Exclusions</h3>
<ol class="accordion-faq" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What are the eligibility requirements for homeowners to participate in this program?  </a>
    <div class="accordion-content" data-tab-content>
      <p>Seller/Servicers may refer their eligible homeowners to Freddie Mac to receive NextJob re-employment services if they meet the each of the following requirements: </p>
      <ul>
        <li>The mortgage must be in a designated Duty to Serve high-needs area  </li>
        <li>The homeowner must have a Home Possible mortgage </li>
        <li>The homeowner must have suffered a loss of income due to unemployment or underemployment and have applied with the Servicer for loss mitigation assistance.  </li>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Why is this program only available to homeowners living in designated Duty to Serve rural markets in high-needs areas?</a>
    <div class="accordion-content" data-tab-content>
      <p>Sustaining homeownership for individuals living in designated Duty to Serve high-needs areas is a priority for Freddie Mac. High-needs areas suffer disproportionately from a lack of financial resources and the long-term business investment necessary to promote job opportunities and growth. </p>
      <p>Through this partnership with NextJob, Freddie Mac is able to provide job training and assistance to unemployed and underemployed homeowners living in high-needs areas of the country as defined in our Duty to Serve Plan – the Lower Mississippi Delta, middle Appalachia, the Colonias and other persistent poverty areas. </p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What are the eligibility exclusions for this program? </a>
    <div class="accordion-content" data-tab-content>
      <p>Below are the list of eligibility exclusions:</p>
      <ol>
        <li>Homeowners who are 12 months or more delinquent at the time of Servicer evaluation </li>
        <li>Homeowners in an active repayment plan </li>
        <li>Homeowners in an active modification trial period plan </li>
        <li>Homeowners in approved for short sale or deed-in-lieu of foreclosure </li>
        <li>Mortgages subject to active non-routine litigation </li>
        <li>Mortgages subject to active bankruptcy proceeding </li>
        <li>Federal Housing Administration, Veterans Affairs or U.S. Department of Agriculture Rural Housing Service insured mortgages </li>
        <li>Mortgages with foreclosure sale scheduled within next 60 days </li>
        <li>Mortgages referred to foreclosure and the parties are participating in mediation </li>                       
      </ol>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">I have a homeowner who meets all the eligibility requirements. How do I sign them up for the program?</a>
    <div class="accordion-content" data-tab-content>
      <p>Once the Seller/Servicer determines that the homeowner meets the eligibility requirements, the Seller/Servicer provides the information below to Freddie Mac on a Microsoft Excel spreadsheet using the NextJob referral template provided in the Freddie Mac <em>Single-Family Seller/Servicer Guide</em> Bulletin <a href="/singlefamily/guide/bulletins/pdf/bll1809.pdf">2018-9</a>. </p>
      <ul>
        <li>Freddie Mac loan number  </li>
        <li>Homeowner's name, phone number and state of residence   </li>
        <li>Servicer's full name and email address  </li>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Is the NextJob program also available for borrowers who have the negotiated version of Home Possible or Home Possible Advantage mortgage? </a>
    <div class="accordion-content" data-tab-content>
      <p>Yes.</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">I have an eligible homeowner who could benefit from this program. Can I just send them the link to NextJob's website? </a>
    <div class="accordion-content" data-tab-content>
      <p>No. If the homeowner wants to contact and work with NextJob directly, the homeowner is responsible for paying NextJob's fees and charges. </p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">My Home Possible borrower lives in a county that is not a designed Duty to Serve high-needs area. Are they eligible for this program?  </a>
    <div class="accordion-content" data-tab-content>
      <p>No. Your borrower is not eligible because he/she does not live in a designated Duty to Serve high-needs area.  </p>
    </div>
  </li>
</ol>                    
<h3 style="margin-bottom: 0.75em; margin-top: 0.75em;">NextJob</h3>
<ol class="accordion-faq" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What is NextJob?</a>
    <div class="accordion-content" data-tab-content>
      <p>Headquartered in Bend, Oregon, NextJob is a nationwide re-employment solutions firm that launched the mortgage banking industry's first re-employment program in 2011 with Fifth Third Bank. Since then, NextJob has launched the program with Freddie Mac, M&T Bank, USAA and other larger banks.  </p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What kind of track record does NextJob have in homeowner re-employment services? Why did Freddie Mac choose NextJob</a>
    <div class="accordion-content" data-tab-content>
      <p>Unemployed homeowners who have worked with NextJob increased their job search skills and landed jobs at more than double the normal rate of re-employment and about four months faster than conducting a job search alone. Given NextJob's successful track record of providing effective job search skills training for unemployed or underemployed homeowners since 2011, NextJob was the perfect choice for this program. </p>
    </div>
  </li>
</ol>                    
<h3 style="margin-bottom: 0.75em; margin-top: 0.75em;">Homeowner Re-employment Program</h3>
<ol class="accordion-faq" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">How exactly does NextJob's homeowner re-employment program work?</a>
    <div class="accordion-content" data-tab-content>
      <p>NextJob's three-part program ensures a personalized experience with a job search coach who provides the techniques, tools and encouragement the homeowner needs to get back on track and stay in his/her home.</p>
      <ul>
        <li><strong>One-on-One Job Coaching</strong><br>Coaches work weekly with homeowners to draft résumés, build social media profiles, identify and accomplish goals, and learn how to interview with confidence.</li>
        <li><strong>Online Job Search Training System</strong><br>NextJob's multimedia platform helps homeowners learn the latest job search techniques, such as tapping into the best job boards and social media sites, as well as networking to uncover "hidden" jobs never posted on the internet.</li>
        <li><strong>Weekly Web Workshops </strong><br>NextJob's "JobTalk" webinars dive into key topics so homeowners can listen in and work on a key piece of their job search as experts teach and demonstrate critical job search techniques. </li>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">I'm a Servicer who works in a designated Duty to Serve high-needs area. Will Freddie Mac let me know which homeowners were referred for NextJob services? </a>
    <div class="accordion-content" data-tab-content>
      <p>Yes. Freddie Mac will send a confirmation email to the Servicer listing the names of homeowners who meet the eligibility requirements and were referred to NextJob. In addition, Freddie Mac will send Servicers monthly progress reports called, "Disposition of NextJob Referrals."</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">What if, after eight months into the homeowner re-employment program, the homeowner has not found a job and is still delinquent on his/her payments?  </a>
    <div class="accordion-content" data-tab-content>
      <p>NextJob's services are limited to 16 weeks of one-on-one job coaching sessions, 26 weeks of "Job Talk" job club webinar meetings and 39 weeks of NextJob's proprietary online job search training programs. There is no guarantee of re-employment with this service. </p>
      <p>Homeowner qualification for the program is determined when he/she is initially referred to the program. The homeowner may not be requalified during the program. Homeowners are eligible for the services according to the timeframes stated above. Servicer/Sellers will continue to proceed with their servicing protocols and procedures regardless of homeowners receiving or not receiving NextJob's services.</p>
    </div>
  </li>
</ol>