<div class="reveal background-sapphire" id="rhModal2" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Duty to Serve rural populations</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">Supporting Native American Tribes</h3>
              <p class="weight-normal flex-up gutter-bottom">326 Native American reservations</p>
            </div>
            <p class="intro"><strong>Key housing challenges:</strong></p>
            <ul class="weight-bold checkbox-list">
              <li>Legal complexities of  land titles make mortgage financing difficult</li>
              <li>Limited  access to financial and homebuying education </li>
              <li>Substandard  housing </li>
            </ul>
            <p class="intro">Here&rsquo;s what we&rsquo;re doing in these rural  populations</p>
            <ul class="weight-bold checkbox-list">
              <li>Increasing homebuyer  access to education and resources for members of a Federally Recognized Indian Tribe in Indian areas. This is critical to developing more informed, mortgage-ready borrowers and is key to responsible, sustainable homeownership. We&rsquo;re collaborating with South Dakota&rsquo;s Homebuyer Education Resource  Organization (HERO) to provide resources, housing counseling certifications and  homebuyer education to Native American organizations supporting tribal areas in  South Dakota. Freddie Mac will work jointly with HERO to train and certify  homebuyer education counselors and expand these resources to other tribal  areas.</li>
              <li>Increasing  technical expertise in Indian areas</li>
              <li>Developing a robust  renovation mortgage product to help rehabilitate aging houses. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 