
<div class="orbit ease orbit-controls-outside" role="region" aria-label="Quotes" data-orbit data-auto-play="false" data-bullets="false">
  <ul class="orbit-container background-quote">
    <li class="orbit-slide gutter-right-large">
      <div class="callout">
        <div class="gutter-right-large">
          <p class="section-subtitle weight-black gutter-bottom">"We work with members who are at various stages of the journey toward homeownership. We have incorporated Freddie Mac's NextJob re-employment program into our daily outreach and communications efforts. Freddie Mac's commitment to homebuyer education is genuine, and this program is a great resource for the communities we serve. It's not just about landing a job. It's also about building a career to sustain homeownership for the long term."</p>
          <div class="media-object avatar">
            <div class="media-object-section align-self-middle">
              <img class="no-border" alt="photo of James Hunter" src="/singlefamily/duty-to-serve/images/James-Hunter.jpg">
            </div>
            <div class="media-object-section main-section align-self-middle">
               <p class="text-static-16-18 no-margin"><span class="text-flex-18-24 weight-bold">James Hunter</span><br>
               Senior Vice President of Mortgage Lending at <strong>HOPE Enterprise Corporation</strong></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="callout">
        <p class="section-subtitle weight-black gutter-bottom">"Lorem Ipsum. Praesent non dictum magna. Mauris placerat volutpat leo a ornare. Vivamus semper, sapien vel varius scelerisque, mauris nisi volutpat dolor, ut scelerisque nunc mi sit amet tortor. Fusce porttitor, risus et ornare congue, justo dolor ornare nunc fusce."</p>
        <div class="media-object">
          <div class="media-object-section align-self-middle">
            <img class="no-border avatar" alt="description" src="https://placekitten.com/96/96">
          </div>
          <div class="media-object-section main-section align-self-middle">
             <p class="text-static-16-18"><span class="text-flex-18-24 weight-bold">Kitty T. Feline</span><br>
             Senior Vice President of <strong>Lending Meow</strong></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>