<div class="reveal background-sapphire" id="rhModal1" data-reveal>
  <div class="modal-content row-container">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2>Duty to Serve rural regions</h2>
        </div>
        <div class="callout large background-white">
          <div class="callout small-to-large">
            <div class="callout background-primary horizontal-gradient-dark-left top-v-overlay">
              <h3 style="margin-bottom: 0.75em;">Supporting Middle Appalachia, the Lower Mississippi Delta and the Colonias</h3>
              <p class="half-margin-bottom"><strong>Middle Appalachia:</strong> Kentucky, North Caroline, Ohio, Tennessee, Virginia, West Virginia</p>
              <p class="half-margin-bottom"><strong>Lower  Mississippi Delta:</strong> Mississippi, Louisiana, Arkansas, Alabama, Tennessee, Kentucky,  Missouri, Illinois</p>
              <p><strong>Colonias:</strong> Arizona, California, New Mexico, Texas (along US-Mexico border)</p>
            </div>
            <br class="reduce">
            <p class="intro no-margin"><strong>Key housing challenges:</strong></p>
            <ul class="weight-bold checkbox-list">
              <li>Substandard housing & high cost burden </li>
              <li>Limited access to financial and homebuying education </li>
              <li>High poverty rates </li> 
              <li>Out Migration </li>
              <li>Lack of financial institutions </li>
            </ul>
            <p class="intro">Here&rsquo;s what we&rsquo;re doing in these high needs  rural regions</p>
            <ul class="weight-bold checkbox-list">
              <li>Increasing future  homebuyer access to education and resources. Homebuyer education is critical to  developing more informed, mortgage-ready borrowers and is key to responsible,  sustainable homeownership. We are implementing homebuyer and consumer credit  education programs in rural markets in high-needs areas with our strategic  alliances with FAHE, Hope Enterprise Corporation and the Community Development  Corporation of Brownsville. These organizations bring specific local expertise  and insights as we work together to develop affordable housing education and  access programs in these regions. </li>
              <li>Purchasing more  single-family loans.</li>
              <li>Designing the  following:
                <ul>
                  <li>New  product flexibilities to facilitate the origination of mortgages</li>
                  <li>Improved  product flexibilities to facilitate the origination of renovation mortgages</li>
                </ul>
              </li>
              <li>Purchasing more loans  from small financial institutions serving rural regions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>