<!--googleoff: all-->
<header id="header-nav" class="header-nav hide-for-print"> 
  {{> ribbon}} 
  <script>
  document.getElementById("desktop-singlefamily-home").classList.add('active');
  </script>
  <div class="landing-band-sides-only sticky-container" data-sticky-container> 
    <div class="sticky" data-sticky data-options="marginTop:0;" data-sticky-on="small">
      <div class="row-container" id="nav-duty" data-toggler=".is-mobile-expanded">
        <div class="row">
          <div class="column xlarge-2 logo-wrapper-duty">
            <div class="title-bar no-border">
              <div class="float-right hide-for-xlarge">
                <button id="menu-toggle" class="toggle-icon button" type="button" data-toggle="nav-main nav-duty" aria-label="toggle menu">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 54 54" stroke-width="6">
                  <g class="menu"><line x1="1" y1="44" x2="47" y2="44"/><line x1="1" y1="24" x2="47" y2="24"/><line x1="1" y1="4" x2="47" y2="4"/></g>
                  <g class="menu-close"><line x1="1" y1="1" x2="47" y2="47"/><line x1="47" y1="1" x2="1" y2="47"/></g>
                </svg>
                </button>
              </div>
              <a href="/singlefamily/duty-to-serve/" class="logo-corp">
                <img class="no-border" src="/images/FreddieMacLogo.svg" alt="Freddie Mac logo">
              </a>
            </div>
          </div> 
          <div class="column xlarge-10 nav-wrapper-duty">        
            <nav class="nav-main weight-medium ease-in-out fast" id="nav-main" role="navigation" data-toggler aria-expanded="false" data-animate="slide-in-down slide-out-up">      
              <div class="nav-section" id="section-home">
                <a id="nav-sf-duty-home" href="/singlefamily/duty-to-serve/">Home</a>
              </div>
              <div class="nav-section" id="section-manufactured">
                <a id="nav-sf-duty-manufactured" href="/singlefamily/duty-to-serve/manufactured.html">Manufactured Housing</a>
              </div>
              <div class="nav-section" id="section-rural">
                <a id="nav-sf-duty-rural" href="/singlefamily/duty-to-serve/rural.html">Rural Housing</a>
              </div>
              <div class="nav-section" id="section-affordable">
                <a id="nav-sf-duty-affordable" href="/singlefamily/duty-to-serve/affordable.html">Affordable Housing Preservation</a>
              </div>
            </nav>  
          </div>
        </div>
      </div>
    </div>
  </div>    
</header>
<!--googleon: all-->  
<div class="subnav-edge show-for-xlarge"></div> 