      <div class="tertiary-nav">
        <h2><a href="/terms/">Terms & Conditions</a></h2> 
        <nav>
          <ul class="no-bullet">
            <li><a href="/terms/copyright.html">Copyrights and Intellectual Property</a></li>
            <li><a href="/terms/linking.html">Linking Policy</a></li>
            <li><a href="/terms/privacy.html">Privacy Policy</a></li>
            <li><a href="/terms/content-use.html">Content Use Permission</a></li>
            <li><a href="/terms/logo-use.html">Logo Use Permission</a></li>
          </ul>
        </nav>
      </div>
