<div class="background-gray">
  <div class="orbit bullets-overlay ease slow" role="region" aria-label="Current promotions" data-orbit>
    <ul class="orbit-container clearfix">
      <li class="orbit-slide hero hero-nhm row-wrapper">
        <div class="row gutter-bottom"> 
          <div class="column text-center gutter-bottom-large">
            <h1 class="hero-title">National Homeownership Month<br>
            <span class="weight-light reduce">We’re proud to be part of the industry that makes homeownership possible</span></h1>
            <p class="gutter-bottom-medium"><a class="tertiary button hero-button" href="/corporate/national-homeownership-month/">See How</a></p>
          </div>
        </div>
      </li>
      <li class="orbit-slide hero hero-financials row-wrapper">
        <div class="row gutter-bottom">
          <div class="column text-center gutter-bottom-large">
            <h1 class="hero-title"><span class="flex-weight-up">A better company, <br class="hide-for-large">building a</span><br>
            <span class="weight-bold">better housing finance system</span></h1>
            <p class="gutter-bottom-medium"><a class="primary button hero-button" href="/better-housing-finance/">See How</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="hero-edge"> </div>   