<style>
.homepage-seniorshousing-highlight{
  margin: 2.5rem 0 2.5rem 0;
  background-position: static;
  background-attachment: fixed;
  overflow: hidden; 
  position: relative; 
  color: #fff;
}

.homepage-seniorshousing-highlight::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #464645 url('/corporate/homepage/images/victory_crossing_bg.jpg') no-repeat left center;
    background-size: cover;
    will-change: transform; 
    z-index: -1;
  }


@media screen and (min-width:46.25em) {
  .homepage-seniorshousing-highlight { 
    padding:4.5rem 0;
   }
}
@media print,screen and (min-width:61.25em) {
  .homepage-seniorshousing-highlight { 
    padding:4rem 0;
  }
}
@media screen and (min-width:79.375em) {
  .homepage-seniorshousing-highlight{
    padding-bottom: 22rem;  
  } 
}
</style>

<div class="homepage-seniorshousing-highlight clearfix row-wrapper">
  <div class="row">
    <div class="column">
        <div class="row collapse">
          <div class="column xlarge-5 xlarge-offset-1 text-center">
            <img class="no-border gutter-bottom" src="/corporate/homepage/images/dts_identifier.png" alt="Duty to Serve identifier">
             <h2 class="grid-block-title-condensed gutter-bottom">Seniors find home in a new, affordable community.</h2>
              <div class="gutter-bottom"><a class="button hollow no-margin" href="https://mf.freddiemac.com/news/2018/20180523-victory-crossing.html">Learn More<span class="show-for-sr"> about Seniors Affordable Housing</span></a></div>
              <br class="reduce">
          </div>
          <div class="column xlarge-4 end text-center">
          	<div class="gutter-bottom" style="padding-top: 15px;"><img style="border: 2px solid #fff; box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);" src="/corporate/homepage/images/dts_ribbon_cutting.jpg" alt="We're doing more to advance affordable housing"></div>
          	<p class="flex-up">We're doing more to advance affordable housing</p>
          </div>
        </div>
    </div>
  </div>
</div>






