.background-stripes-green {
  background-image: repeating-linear-gradient(45deg, rgba($fm-green, 0.25), rgba($fm-green, 0.25) 4px, rgba($fm-green, 0) 4px, rgba($fm-green, 0) 10px);
}
.background-evergreen {
  color: #fff; 
  background: #87be3c;
  hr {  
    border-color: $white; 
    opacity: 0.4;
  }
  .background-green {
    background: #9ac53c;
  }
}
.vertical-gradient-dark-bottom {
   background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.2) 100%);
}
.vertical-gradient-dark-top {
   background-image: linear-gradient(to top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.2) 100%);
}
.horizontal-gradient-dark-left {
   background-image: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 90%);
}
.horizontal-gradient-dark-right {
   background-image: linear-gradient(to right, rgba(0,0,0,0) 10%,rgba(0,0,0,0.2) 100%);
}
.section-shadow-top {
  box-shadow: 0px -20px 30px 0px rgba(0,0,0,0.2);
}
.triangle-in-white,
.triangle-in-primary,
.triangle-out-white {
  position: absolute;
  width: 100%;
  left: 0;
  height: 80px;
  z-index:300;
}
.triangle-in-white,
.triangle-in-primary {
  top: 0;
  + div {
    padding-top: 60px;
  } 
}
.triangle-out-white {
  bottom: 0;  
  + div {
    padding-bottom: 60px;
  } 
} 
.triangle-in-white {
  background: linear-gradient(to top right, transparent 50%, $white 50%) no-repeat left bottom / 50.05% 100%,
    linear-gradient(to top left,transparent 50%, $white 50%) no-repeat right bottom / 50.05% 100%;
}
.triangle-in-primary {
  background: linear-gradient(to top right, transparent 50%, $primary-color 50%) no-repeat left bottom / 50.05% 100%,
    linear-gradient(to top left,transparent 50%, $primary-color 50%) no-repeat right bottom / 50.05% 100%;
}
.triangle-out {
  background: linear-gradient(to top right, $white 50%, transparent 50%) no-repeat left bottom / 50% 100%,
    linear-gradient(to top left, $white 50%, transparent 50%) no-repeat right bottom / 50% 100%;
}

.top-v-overlay {
  position: relative;
  overflow: hidden;
  &::after {
    content:"";
    display: block;
    background-color: rgba($white,0.15);
    transform: rotate(-45deg);
    transform-origin: center center;
    position: absolute;
    top: calc(0% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
  }
}
.mid-diamond-shape {
  position: absolute;
  right: calc(50% - 1800px);
  top: calc(50% - 1800px);
  width: 0;
  height: 0;
  border-left: 1800px solid rgba($white,0.12);
  border-bottom: 1800px solid transparent;
  border-top: 1800px solid transparent;
  border-right: 1800px solid transparent;
}