// default to use for all heros with background images
.landing-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  background-position: center top;
}

.ltw-hero {
  padding: 3rem 0 0;
  background-image: -webkit-linear-gradient(rgba(0, 166, 226, 0.8), rgba(0, 166, 226, 0.8)), url("/better-housing-finance/images/bhf_creating_opportunities.jpg");
  background-image: linear-gradient(rgba(0, 166, 226, 0.8), rgba(0, 166, 226, 0.8)), url("/better-housing-finance/images/bhf_creating_opportunities.jpg");
  @include breakpoint(medium){
    padding: 3rem 0 2rem;
    min-height: 22rem; 
  }
}

.overlay-sapphire-lead {
  @include breakpoint(medium){
    background: linear-gradient(to right, rgba($sapphire,0.64) 0%,rgba($sapphire,0.64) 70%,rgba(0,0,0,0) 70.1%,rgba(0,0,0,0) 100%);      
  }
  @include breakpoint(large) {
    background: linear-gradient(to right, rgba($sapphire,0.64) 0%,rgba($sapphire,0.64) 61%,rgba(0,0,0,0) 61.1%,rgba(0,0,0,0) 100%);    
  }
  @include breakpoint(xlarge){
    background: linear-gradient(to right, rgba($sapphire,0.64) 0%,rgba($sapphire,0.64) 52%,rgba(0,0,0,0) 52.1%,rgba(0,0,0,0) 100%);  
  }
}


.landing-hero.sfdts-home {
  background-image: url("/singlefamily/duty-to-serve/images/hero_home.jpg");
  background-position: 45% 38%;
  @include breakpoint(medium){
    background-position: 10% 38%;
  }
  @include breakpoint(xlarge){
    background-position: 50% 34%;
  }
}
.landing-hero.sfdts-mh {
  background-image: url("/singlefamily/duty-to-serve/images/hero_manufactured.jpg");
  background-position: center bottom;
  @include breakpoint(xlarge){
    background-position: left 90%;
  }
  @include breakpoint(xxlarge){
    background-position: left 83%;
  }
}

.landing-hero.sfdts-rh {
  background-image: url("/singlefamily/duty-to-serve/images/hero_rural.jpg");
  @include breakpoint(medium){
    background-position: center 90%;
  }
  @include breakpoint(large){
    background-position: center 75%;
  }
  @include breakpoint(xlarge){
    background-position: center 65%;
  }
}

.landing-hero.sfdts-ah {
  background-image: url("/singlefamily/duty-to-serve/images/hero_affordable.jpg");
  background-position: center bottom;
  @include breakpoint(medium){
    background-position: center;
  }
  @include breakpoint(xlarge){
    background-position: center 38%;
  }
}
.sfdts-events {
  text-align: center; 
  .position-relative {  
    min-height: 240px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include breakpoint(large){
      min-height: 300px; 
    }
  }
  .block.background-sheer {
    background: none;
    position: relative; 
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
      left: 0;
      top: 0;
      background: rgba($black, 0);  
      z-index: 200; 
      transition: background 0.25s ease-out;
    }
    &:hover,
    &:active,
    &:focus {
    opacity: 1;
      &::before {
        background: rgba($black, 0.3);  
        transition: background 0.25s ease-out;             
      }
      .full {
        z-index: 220; 
      }
    }
  }
}
