
.hero-subtitle {
  font-size: calc(13px + 8 * (100vw - 320px)/1180);
  @include breakpoint(xxlarge) {
		font-size: rem-calc(21);
	}
}
div.stripes.content-inner-band{padding-bottom:50px;}

.innovationResults{
  max-width: 360px;
  margin: auto;
  padding:20px 15px 10px;
  @include breakpoint(medium){
    max-width: rem-calc(360);
  }
}
.innovationBkgd {
  padding:0;
  margin:0;
  border: 5px solid #fff;
}


