
.overlay.overlay-gradient::after{
background: rgba(0, 0, 0, 0) linear-gradient(to bottom right, $fm-gray 0%, rgba(119, 120, 116, 0.7) 50%, rgba(119, 120, 116, 0.3) 100%) repeat scroll 0 0;

}

.overlay{
  &.overlay-gradient{
  @include breakpoint(small only){
    &::after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;   
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom right, $fm-gray 0%, rgba(119, 120, 116, 0.7) 50%, rgba(119, 120, 116, 0.3) 100%) repeat scroll 0 0;
      }
      &:hover,
      &:focus {
        &::after {
          background: linear-gradient(to right, rgba(mix($fm-gray, $primary-color, 40%),0.8) 0%,rgba(mix($fm-gray, $primary-color, 30%),0.4) 50%,rgba(mix($fm-gray, $primary-color, 20%),0.1) 100%); 
        }
      }

    }
  }
}

hr.light-green {
  border-color: rgba($fm-green, 0.33);
  border-width: 0 0 4px;
}
