//
// Background Sections
//
.background-sapphire { 
  background-color: $sapphire; 
  color: $white;
  hr {  
    border-color: $white; 
    opacity: 0.4;
  }
}
.background-foam { 
  background-color: $foam; 
}
.diagonal-band {
  background-image: linear-gradient(65deg, rgba($white,0.12) 0%, rgba($white,0.12) 40%, rgba($white, 0) 40.01%);
}
//
// Container Styles
//
.border-white {
  border-color: white !important;
}
.border-3 {
  border-width: 3px !important;
}
.shadow-southeast {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

//
// Text Styles 
//
.accent-sapphire { 
  color: $sapphire;
}
.accent-iceblue {
  color: $iceblue;
}
.accent-primary {
  color: $primary-color;
}
//
// Template Component Overwrites
//
.footer {
  background-color: darken($primary-color, 3%);
}
.subnav-edge {
  height: rem-calc(10);
  @include mosaic-fill($celery, $mosaic-last); 
}
.footer-bottom-edge {
  height: rem-calc(10);
  @include mosaic-fill($celery, $mosaic-last); 
  @include breakpoint (medium){
    height: rem-calc(16);
  }
  @include breakpoint (large){
    height: rem-calc(20);
  }
}   
