//
// Background Sections
//
.background-sapphire { 
  background-color: $sapphire; 
  color: $white;
  hr {  
    border-color: $white; 
    opacity: 0.4;
  }
}
.background-foam { 
  background-color: $foam; 
}
.diagonal-band {
  background-image: linear-gradient(65deg, rgba($white,0.12) 0%, rgba($white,0.12) 40%, rgba($white, 0) 40.01%);
}
//
// Container Styles
//
.border-white {
  border-color: white !important;
}
.border-3 {
  border-width: 3px !important;
}
.shadow-southeast {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}
.manufactured-facts {
  .main-section {
    min-height: rem-calc(180);
  }
}
.affordable-facts {
  .main-section {
    min-height: rem-calc(220);
  }
}
.rural-facts {
  .main-section {
    min-height: rem-calc(220);
  }
}

//
// Orbit Prev/Next 
//
.orbit-controls-outside .orbit-previous svg, 
.orbit-controls-outside .orbit-next svg {
  fill: currentColor;
  opacity: 0.25;
  transform: scale(1.4);
}

//
// Text Styles 
//
.accent-sapphire { 
  color: $sapphire;
}
.accent-iceblue {
  color: $iceblue;
}
.accent-primary {
  color: $primary-color;
}

//
// Icons
//
.checkbox-list li {
  position: relative;
  list-style: none;
  margin-left: 2rem;
  &::before {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    left: -2rem;
    position: absolute;
    top: 0;
    background: transparent url("/singlefamily/duty-to-serve/images/checkbox.svg") no-repeat center center;
  } 
}
//
// Template Component Overwrites
//
.footer {
  background-color: darken($primary-color, 3%);
}
.subnav-edge {
  height: rem-calc(10);
  @include mosaic-fill($celery, $mosaic-last); 
}
.footer-bottom-edge {
  height: rem-calc(10);
  @include mosaic-fill($celery, $mosaic-last); 
  @include breakpoint (medium){
    height: rem-calc(16);
  }
  @include breakpoint (large){
    height: rem-calc(20);
  }
}   
