.background-sapphire { 
  background-color: $sapphire; 
  color: $white;
  hr {  
    border-color: $white; 
    opacity: 0.4;
  }
}
.accent-sapphire { 
  color: $sapphire;
}

.overlay-sapphire-lead {
   background-color: rgba($sapphire,0.64);
}

.border-white {
  border-color: white !important;
}
.border-3 {
  border-width: 3px !important;
}
.shadow-southeast {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}
.mosaic-band,
.footer-bottom-edge {
  height: 0.625rem;
  background: $celery;
  @include mosaic-fill($celery, $mosaic-last); 
}
.landing-band-sides-only.header-nav {
 @include breakpoint(large down){
   padding-left: 0;
   padding-right: 0;
 }
}
.footer {
  background-color: darken($primary-color, 3%);
}
.nav-main {
  .nav-section {
    &.active,
    a:hover,
    a:focus,
    a:active  {
      color: $primary-color;
    }
    a {
      @include breakpoint(xlarge){
        border-bottom-width: 0; 
      }
    } 
  }
}

.logo-corp {
 @include breakpoint(medium down){
   padding-left: rem-calc(20px);
 }
 @include breakpoint(large only){
   padding-left: rem-calc(30px);
 }
}
.nav-main > div:last-child {
 @include breakpoint(xlarge){
    padding-right: rem-calc(10);
  }
}
.xlarge-2.logo-wrapper-duty {
  @include breakpoint(xlarge){
    width: rem-calc(200); //12.5rem
    + .xlarge-10 {
      max-width: calc(100% - 13rem);
      float: right;
    }
  }
}

.nav-duty {
  font-weight: $global-weight-medium;
  line-height: 1;
  font-size: rem-calc(16);
  .menu > li > a { // overriding the ribbon default
    @include breakpoint(large down) {
      padding: rem-calc(28 52 24 30);
    }
  }
  .top-bar {
    @include breakpoint(xlarge) {
      float: left;
    }
  }
}
.nav-main {   
  .nav-duty & {
    @include breakpoint(large down) { 
      position: absolute;
      margin-top: rem-calc(80); 
      top: 0;
      width: 100%;
      z-index: 399;
    }
  }
}  
   
/* pseudo extra small below 360px */
@media screen and (max-width: 22.5em) {
  .custom-connect {
    margin-right: -0.625rem;
  }
}   
/* small only */
@media screen and (max-width: 35.6249em) {
  .slant-for-small {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
  }
  .modal-page-header {
    padding: 2.5rem 0.5rem;
  }
}    
/* medium and up */
@media screen and (min-width: 35.625em) {
  .border-thick {
    border-width: 6px;
  }
  .footer-bottom-edge {
    height: 1rem;
  }
}
/* large and up */
@media screen and (min-width: 61.25em) {
  .border-thick {
    border-width: 8px;
  }
  .footer-bottom-edge {
    height: 1.25rem;
  }
}
