{{!-- This is the base layout for corporate pages with new mobile nav --}}

<!doctype html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{sanitize title}}}</title>
    <meta property="og:title" content="{{{sanitize title}}}" />
    <meta name="twitter:title" content="{{{sanitize title}}}"/>
    {{#if abstract}}
    <meta name="abstract" content="{{ abstract }}" />
    {{/if}}
    {{#if keywords}}
    <meta name="keywords" content="{{ keywords }}" />
    {{/if}}
    {{#if twittercard}}
    <meta name="twitter:card" content="{{ twittercard }}" />
    {{else}}
    <meta name="twitter:card" content="summary" />
    {{/if}}
    <meta name="twitter:site" content="@FreddieMac" />
    {{#if description}}
    <meta name="Description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:description" content="{{ description }}" />
    {{/if}}
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website" />
    {{#if image}}
    <meta property="og:image" content="{{ image }}" />
    <meta name="twitter:image" content="{{ image }}" />
    {{else}}
    <meta property="og:image" content="/images/banner/gen_social_image.jpg" />
    {{/if}}    
    {{#if url}}
    <meta property="og:url" content="{{ url }}" />
    {{/if}}
    {{#if author}}
    <meta name="author" content="{{ author }}" />
    {{/if}}
    <meta name="theme-color" content="#88BD45">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/ss/app_corp_alt.css" />
    {{#if stylesheet}}    
    <link rel="stylesheet" href="{{ stylesheet }}" />
    {{/if}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  </head>  
  {{#if bodyclass}}
  <body class="{{ bodyclass }}">
    {{else}}
  <body>
  {{/if}}
    <div id="body-wrapper" data-toggler=".is-mobile-expanded">
      <div class="iw_viewport-wrapper"> 
        <div class="iw_section">
          <div class="row iw_row iw_stretch">
            <div class="columns iw_columns large-12">
              <div class="iw_component">
                <div class="show-for-print">FreddieMac.com</div> 
                <!--googleoff: all-->
                <header id="header-nav" class="header-nav hide-for-print">
                  <a class="show-on-focus reduce" href="#skipper">Skip to Content</a>
                  {{> ribbon-corp-alt}}
                  {{> nav-mobile-corp}}
                </header>                
                <script>
                  var d= document, 
                  nav1 = {{#if navLevel1}}'{{navLevel1}}'{{else}}'none'{{/if}},
                  snav = nav1.replace(/^section/, 'subnav'), 
                  nav2 = {{#if navLevel2}}'{{navLevel2}}'{{else}}'none'{{/if}};
                  if(d.getElementById(nav1)){ 
                    d.getElementById(nav1).classList.add('active');
                    if(d.getElementById(nav2)){
                      d.getElementById(nav2).classList.add('active');
                    }
                    if (d.getElementById(snav) && d.getElementById(snav + '-list').getElementsByTagName('li').length > 1) { 
                      d.getElementById(snav).classList.add('expand-desktop'); 
                      d.getElementById('header-nav').classList.add('header-extend');
                    } 
                  }
                </script>
                <!--googleon: all--> 
              </div>
            </div>
          </div>
        </div>
        <div class="iw_section"> 
          <div class="row iw_row iw_stretch"> 
            <div class="columns iw_columns large-12"> 
              <div class="iw_component">
                <span>
                  <div class="breadcrumb-wrapper row-wrapper hide-for-print" id="breadcrumb-wrapper">
                    <div class="row">
                      <div class="column">
                        <nav>
                          <ol class="no-bullet" vocab="http://schema.org/" typeof="BreadcrumbList">
                          {{#each breadcrumb}}
                            <li property="itemListElement" typeof="ListItem">
                              {{#if url}}
                              <a property="item" typeof="WebPage" href="{{ url }}"><span property="name">{{ name }}</span></a>
                                {{else}}
                              <span property="name">{{ name }}</span>
                              {{/if}}
                              <meta property="position" content="{{ add 1 @index }}">
                              {{{ uppercase title }}}
                            </li>
                          {{/each}}
                          </ol>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div id="skipper"></div>
                </span>
              </div>         
              <div class="iw_component">
                {{#ifequal herotype "title" }} 
                <div class="page-title">
                  <div class="row">      
                    <div class="column">
                      <h1>{{{ title }}}</h1>
                      {{#if subtitle}}
                      <p class="page-subtitle">{{{ subtitle }}}</p>
                      {{/if}}
                    </div>
                  </div>
                </div>
                {{/ifequal}}
                {{#ifequal herotype "research-article" }}      
                <div class="page-title">
                  <div class="row">      
                    <div class="column">
                      <p class="intro"><span class="uppercase weight-bold">{{ herocategory}} </span> | {{ herodate }}</p>
                      <h1>{{{ title }}}</h1>
                      {{#if subtitle}}
                      <p>{{{ subtitle }}}</p>
                      {{/if}}
                    </div>
                  </div> 
                  {{> share-widget}} 
                </div>
                {{/ifequal}}
                {{#ifequal herotype "landing" }} 
                <div class="{{heroclass}} hero-blended">
                  <div class="row">
                    <div class="column hero-blended-content">
                      <h1 class="hero-title">{{{ title }}}</h1>
                      {{#if subtitle}}
                      <p>{{{ subtitle }}}</p>
                      {{/if}}
                    </div>
                  </div>
                </div>
                {{/ifequal}} 
                {{#ifequal herotype "blog-article" }} 
                <div class="blog-detail-hero hero-blended {{heroclass}}">
                  <div class="row">
                    <div class="column hero-blended-content">
                      {{#if herodate}}<div class="hero-date">{{ herodate }}</div>{{/if}}
                      <h1 class="hero-title">{{{ title }}}</h1>
                      {{#if herocategory}}
                      <div>
                        <a href="{{ herocategoryurl }}" class="hollow button small">{{ herocategory }}</a>
                      </div>
                      {{/if}}
                    </div>
                  </div>
                  {{> share-widget}}
                </div>
                {{/ifequal}} 
                {{#ifequal herotype "perspectives-article" }} 
                <div class="blog-detail-hero hero-blended {{heroclass}}">
                  <div class="row">
                    <div class="column hero-blended-content">
                      <div><strong>Perspectives</strong></div>
                      {{#if herodate}}<div class="hero-date">{{ herodate }}</div>{{/if}}
                      <h1 class="hero-title">{{{ title }}}</h1>
                      {{#if heroavatar}}
                      <figure class="avatar">
                        <div>
                          <img src="{{ heroavatar }}" alt="{{ heroavataralt }}" />
                        </div>
                        <div>
                          {{#if heroarticleby}}<figcaption class="reduce">Article By<br>
                          <strong>{{{ heroarticleby  }}}</strong>
                          </figcaption>{{/if}}
                        </div>
                      </figure>
                      {{/if}}
                    </div>
                  </div>
                  {{> share-widget}}
                </div>
                {{/ifequal}}                
              </div> 
            </div>
          </div> 
        </div> 
        <div class="iw_section">
          {{#ifequal grid "2-col"}}
          <div class="row iw_row iw_stretch"> 
            {{else}}
          <div class="row iw_row iw_container"> 
          {{/ifequal}} 
            <div class="columns iw_columns large-12">           
              {{> body}}   
            </div>
          </div>
        </div> 
        <div class="iw_section"> 
          <div class="row iw_row iw_stretch"> 
            <div class="columns iw_columns large-12"> 
        
              {{#if crosspromo}}
              {{> (lookup . 'crosspromo') }}
              {{/if}}
              
              {{> share-widget}}
              
              {{#if prefooter}}
              {{> (lookup . 'prefooter') }}
              {{/if}}
              
              <div class="iw_component">
               {{> footer-corp-alt}}
              </div> 
            </div> 
          </div> 
        </div> 
        <div class="iw_section"> 
          <div class="row iw_row iw_stretch"> 
            <div class="columns iw_columns large-12"> 
              <div class="iw_component">
                {{> footer-js-corp-alt}}
                {{#if javascript}}    
                <script src="{{ javascript }}"></script>
                {{/if}}
                {{#if onload}}
                <script type="text/javascript">
                  window.onload = {{onload}};
                </script>
                {{/if}}
              </div> 
            </div> 
          </div> 
        </div>        
      </div> 
    </div>
  </body>
</html>